<div class="full-box">
  <h4 class="title"><i class="fa fa-line-chart"></i> Relatório</h4>
  <hr/>
    <div class="content">

      <div class="col3-relatorio">
        <h5>Produtos cadastrados</h5>
        <h2>{{ totalProducts }}</h2>
        <p>Total de produtos cadastrados no sistema.</p>
      </div><!--
   --><div class="col3-relatorio">
        <h5>Visualizações</h5>
        <h2>{{ totalViews }}</h2>
        <p>Total de visualizações de produtos no sistema.</p>
      </div><!--
   --><div class="col3-relatorio">
        <h5>Lista de desejos</h5>
        <h2>{{ totalLovers }}</h2>
        <p>Total de produtos que estão na lista de desejos no sistema.</p>
      </div>



      <div class="col3-relatorio">
        <h5>Lojas</h5>
        <h2>{{ totalStores }}</h2>
        <p>Total de lojas cadastradas.</p>
      </div><!--
   --><div class="col3-relatorio">
        <h5>Clientes</h5>
        <h2>{{ totalClients }}</h2>
        <p>Total de clientes cadastrados.</p>
      </div><!--
   -->

      <div class="col2-relatorio">
        <h5>Gráfico de vendas mensal</h5>
        <canvas id="myChart" width="100%"></canvas>
      </div>

      <div class="col2-relatorio">
        <h5>Gráfico de vendas diárias</h5>
        <canvas id="myChart2"></canvas>
      </div>


    </div>
  </div>
