<div class="full-box" id="id_venda">
  <h4 class="title"><i class="fa fa-money"></i> Vendas</h4>
  <div class="go-right">
    <div class="box-search">
      <i class="fa fa-search"></i>
      <input class="input-search" type="text" placeholder="Pesquise em Vendas"/>
    </div>
  </div>
  <hr/>
    <div class="content">
      <table class="table-vendas">
          <tbody ng-repeat="request in requests track by $index" ng-class="request.color">
            <tr>
              <td class="td-informacoes">#{{ request.id }}</td>
              <td class="td-informacoes">
                <i class="fa fa-user"></i>
                {{ request.name }}
              </td>
              <td class="td-informacoes">Total: R{{ request.total | currency }}</td>
              <td class="td-informacoes">
                <i class="fa fa-calendar-o"></i>
                {{ request.created_at | date }} </td>
              <td class="td-informacoes">
                <i class="fa fa-question-circle"></i>
                {{ request.status | status }}
              </td>
            </tr>

            <tr ng-repeat="item in request.itens track by $index">
              <td class="td-produto"></td>
              <td class="td-produto">{{ item.name }}</td>
              <td class="td-produto">R{{ item.total | currency }}</td>
              <td class="td-produto"></td>
              <td class="td-produto"></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
