<div class="full-box" id="id_venda">
  <h4 class="title"><i class="fa fa-money"></i> Vendas</h4>
  <div class="go-right">
    <div class="box-search">
      <i class="fa fa-search"></i>
      <input class="input-search" ng-model="search" type="text" placeholder="Pesquise em Vendas"/>
    </div>
  </div>
  <hr/>
    <div class="content">
      <table class="table-vendas">
          <thead>
            <tr>
              <td></td>
              <td>Código</td>
              <td class="text-center">Usuário</td>
              <td class="text-right">Valor</td>
              <td>Data/Hora</td>
              <td>Status</td>
              <td>Acões</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="request in requests | filter:search track by $index ">
              <td>
                <button ng-if="request.expanded" class="button-expand" ng-click="request.expanded = false"><i class="fa fa-minus"></i></button>
                <button ng-if="!request.expanded" class="button-expand" ng-click="$parent.loadUser(request)"><i class="fa fa-plus"></i></button>
              </td>
              <td class="td-informacoes">#{{ request.code }}</td>
              <td class="td-informacoes text-center">
                <i class="fa fa-user"></i>
                {{ request.name }}
              </td>
              <td class="td-informacoes text-right">R$ {{ request.total | currency }}</td>
              <td class="td-informacoes">
                <i class="fa fa-calendar-o"></i>
                {{ request.created_at | date : 'MM/yyyy HH:mm' }} </td>
              <td class="td-informacoes">
                <i class="fa fa-question-circle"></i>
                {{ request.status | status }}
              </td>
              <td>
                <button class="primary" ng-click="finalizar(request)" ng-if="request.status == 'paid'">Finalizar</button>
                <button class="primary-delete" ng-click="estornar(request)" ng-if="request.status != 'refunded' && request.status != 'completed'">Estornar</button>
              </td>
            </tr>

            <tr ng-if="request.expanded" ng-repeat-end="">
              <td colspan="7">
                <h3>Cliente</h3>
                <label>Nome: </label><span>{{request.user.name}}</span>
                <label>Email: </label><span>{{request.user.email}}</span>
                <h3>Produtos</h3>
                <table>
                  <thead>
                    <tr>
                      <td>Nome</td>
                      <td>Quantidade</td>
                      <td>Valor</td>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in request.products track by $index">
                    <td class="td-produto">{{ item.name }}</td>
                    <td class="td-produto">{{ item.quantity }}</td>
                    <td class="td-produto">R{{ item.price | currency }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
