html, body {
  height: 100%;
}

body {
  background-color: #f1f4f8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

strong {
  font-weight: 600;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

textarea, input,button {
  outline: none;
}
/* Header
-------------------------------------------------------*/
header {
  background-color: #fff;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #dadee1;
  margin-bottom: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 900;
}

header .go-right {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #909099;
  float: right;
  margin-top: 5px;
  margin-right: 70px;
}

header .go-right i {
  font-size: 16px;
  margin-right: 5px;
  margin-left: 20px;
}

header .go-right a {
  text-decoration: none;
  color: #7d7d87;
}

/* Para a estruturação principal do site
-------------------------------------------------------*/
.container-left {
  background-color: #fff;
  border-right: 1px solid #dadee1;

  height: 100%;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  z-index: 55;
}

.container {
  -webkit-flex: 1;
          -webkit-box-flex: 1;
              -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  overflow-y: auto;
}

/* Todo estilo destinado ao lado esquerdo que possui
  a navegação principal do site.
  =====================================================*/

.container-left .logo{
  display: block;
  margin: 40px auto 10px auto;
  width: 150px;
}

.container-left ul {
  margin: 0;
  padding: 0;
}

.container-left ul li {
  cursor: default;
  font-size: 14px;
  padding: 10px 10px 10px 30px;
  font-family: 'Open Sans', sans-serif;
  color: #909099;
  border-top: 1px solid #e7eaec;
  /* Animation */
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

  .container-left ul li:hover {
    background-color: #f2fffd;
    color: #4aade1;
  }

.container-left ul li i {
  margin-right: 5px;
}

.container-left ul li:last-child {
  border-bottom: 1px solid #e7eaec;
}

/* Boxs
-------------------------------------------------------*/

.box-center,
.full-box {
  width: 600px;
  background-color: #fff;
  border: 1px solid #dadee1;
  display: block;
  margin: 80px auto 30px auto;
}

.full-box {
  width: 95%;
}

.full-box .go-right {
  margin-top: 2px;
  margin-right: 10px;
  float: right;
}

.full-box .go-right button:first-child {
  margin-right: 10px;
}

.box-center .title,
.full-box .title {
  font-family: 'Open Sans', sans-serif;
  color: #878790;
  font-weight: normal;
  display: inline-block;
  margin: 10px 20px 10px 20px;
}

.box-center  i ,
.full-box i {
  margin-right: 7px;
}

.box-center hr,
.full-box hr {
  border: 0;
  height: 0;
  margin: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.box-center .image-center {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: block;
  margin: 10px auto 10px auto
}

.box-center .upload {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: block;
  margin: 10px auto 10px auto;
  overflow: hidden;
  position: relative;
}

.box-center .upload.up5 {
  display: inline-block;
  width: 20%;
  height: auto;
  border-radius: 0;
  box-sizing: border-box;
  margin: 0;
  border: 3px solid #fff;
}

.box-center .upload img {
  width: 100%;
  height: 100%;
}

.box-center .upload:hover span {
  display: block;
}

.box-center .upload span {
  background-color: #3498db;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-top: 5px;
  display: none;
  opacity: .9;
  cursor: default;
}

.box-center .upload.up5 span {

}

.box-center .upload span i {
  font-size: 23px;
}

.box-center .content,
.full-box .content {
  padding: 20px 30px;
  font-family:  sans-serif;
  font-size: 15px;
}

 .content hr {
   margin-bottom: 10px;
 }

.box-center p {
  font-family: 'Open Sans', sans-serif;
  color: #878790;
  font-size: 14px;
}


/* Delete box */
.box-delete {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  border: 1px solid #d9534f;
  border-radius: 6px;
}

.box-delete h4 {
  margin: 0px;
  background-color: #d9534f;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  font-weight: normal;
}

.box-delete p {
  padding: 10px;
  margin: 0px;
}

.box-delete a {
  background-color: #d9534f;
  color: #fff;
  border: 0;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 10px;
  margin-top: 10px;
  /* Animation */
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.box-delete a:hover {
  opacity: .8;
}

/* Box info*/
.box-info {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  border: 1px solid #cacfd2;
  border-radius: 6px;
  overflow: hidden;
}

.box-info h4 {
  margin: 0px;
  background-color: #2D9042;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  font-weight: normal;
}

.box-info p {
  padding: 10px;
  margin: 0px;
}

.upload-images {
  list-style: none;
  margin: 0px;
  padding: 0px
}

.upload-images li {
  border: 1px solid rgba(0,0,0,0.05);
  height: 120px;
  width: 120px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  margin-bottom: 5px;
}

.upload-images li img {
  height: 120px;
  width: 120px;
}

.upload-images li.add {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #878790;
}

.upload-images li.add i {
  font-size: 50px;
  padding-top: 25px;
  display: block;
  margin-bottom: 5px;
  margin-right: 0px;
  color: #878790;
}

/*
  Inputs
  ==========================================*/
  /* Para o asterisco de obrigatório */
  .required {
    color: rgb(62, 167, 215);
    opacity: .6;
    font-size: 12px;
  }

  label {
    font-family: 'Open Sans', sans-serif;
    color: #878790;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  input,
  select {
    background-color: #fff;
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #dadee1;
    font-family: 'Open Sans', sans-serif;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }

  input[type="checkbox"] {
    color: #878790;
    width:19px;
    height:19px;
    vertical-align:middle;
  }

  textarea {
    border: 1px solid #dadee1;
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }

  textarea:focus {
    outline: none;
    padding: 5px;
  }

  input:focus {
    outline: none;
  }

  input.full {
    width: 100%;
    margin-bottom: 5px;
  }

  input.col-2,
  select.col-2 {
    width: 50%;
  }

/*
  Botões
  ==========================================*/

  .primary {
    margin-right: 3px;
    margin-top: 5px;
    background-color: #283d82;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    /* Animation */
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
  }

  .primary:hover {
    background-color: #496dc5;
  }

  button.secondary {
    margin-right: 3px;
    margin-top: 5px;
    background-color: rgba(0,0,0,0.07);
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #8C8989;
    /* Animation */
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
  }

  button.secondary:hover {
    opacity: 0.8;
  }

  button.full {
    width: 100%;
  }


    .primary-delete {
      margin-bottom: 5px;
      margin-top: 5px;
      padding: 5px 20px 5px 20px;
      background-color: #FF6666;
      border-radius: 3px;
      border: none;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #fff;
      /* Animation */
      -webkit-transition: all .5s linear;
      transition: all .5s linear;
    }

    .primary-delete:hover {
      background-color: #d9534f;
    }
/*

  Modal
  ==========================================*/
.modal-back {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background-color: #3498db;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  background-color: #fff;
  width: 300px;
  height: auto;
  z-index: 1002;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.modal img {
  width: 220px;
  display: block;
  margin: 20px auto;
}

.modal-back canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*
  Products ou lojas
  ==========================================*/
.table {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
}

.table  .header {
  background-color: rgba(0,0,0,0.03);
  border-bottom: 1px solid rgba(0,0,0,0.07);
  color: rgba(0,0,0,0.5);
}

.table  td {
  padding: 5px;
  color: rgba(0,0,0,0.6);
}

.table  td button {
  width: 100px;
  margin-right: 3px;
}

.table  tr td:first-child {
  padding: 0px 5px 0px 5px;
  width: 50px;
}

.no-products {
  display: block;
  margin: 30px auto;
}

.table  tr td img{
  width: 50px;
  padding-top: 4px;
}

.table  tr td:last-child {
  padding-right: 10px;
  text-align: right;
}

.table td {
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0,0,0,0.07);;
}



/* Mesangens */
.message-error {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #d9534f;
  color: #fff !important;
  text-align: center;
  font-size: 14px;
}

.message-sucess {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #2ecc71;
  color: #fff !important;
  text-align: center;
  font-size: 14px;
}

.message-alert {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #f1c40f;
  color: #e67e22 !important;
  text-align: center;
  font-size: 14px;
}

/*Definições da Tela de vendas*/
 .box-search {
   float: right;
   background-color: #fefefe;
   width: 165px;
   height: 30px;
   margin-top: 5px;
   margin-right: 2px;
   position: relative;
 }
 .box-search .fa-search {
   color:#dcdadd;
   position: absolute;
   margin-left: 10px;
   margin-top: 5px;
   -webkit-transition: all 0.5;
   transition: all 0.5;
   cursor: pointer;
 }

 .box-search .fa-search:hover {
   color: #4aade1;
 }

 .input-search {
   width: 100%;
   text-align: left;
   padding-left: 30px;
   font-size: 12px;
   color:#c4c2c5;
 }

 /* box venda */
 #id_venda .content {
   padding: 0 15px 15px 15px;
 }

 /* Tabela vendas */
 .table-vendas{
   width: 100%;
   border: none;
 }

 /* padrão */
 /*
.table-vendas  tbody::before
{
  content: '';
  display: block;
  height: 15px;

}
*/

 .table-vendas tbody tr{
   border-left: 2px solid #bdc3c7;
   border-right: 2px solid #bdc3c7;
   border-bottom: 2px solid #bdc3c7;
   font-family: 'Open Sans', sans-serif;
   color: rgba(0,0,0,0.5);
 }

 .table-vendas i {
   font-size: 18px;
 }

 .table-vendas tbody tr td{
   font-size: 14px;
   padding: 4px;
 }

 /* primeira linha*/
 .table-vendas thead tr:first-child{
   background-color: #bdc3c7;
   color: #fff;
   font-family: 'Open Sans', sans-serif;
   border: solid 2px #bdc3c7;
 }

 .table-vendas thead tr:first-child td {
   padding: 7px;
   /*text-align: center;*/
 }

 /* Blue */
 .table-vendas .blue  tr:first-child {
   background-color: #3498db;
 }

 .table-vendas .blue tr{
   border-left: 2px solid #3498db;
   border-right: 2px solid #3498db;
   border-bottom: 2px solid #3498db;
 }

 /* red */
 .table-vendas .red  tr:first-child {
   background-color: #e74c3c;
 }

 .table-vendas .red tr{
   border-left: 2px solid #e74c3c;
   border-right: 2px solid #e74c3c;
   border-bottom: 2px solid #e74c3c;
 }

 /* yellow */
 .table-vendas .yellow  tr:first-child {
   background-color: #228B22;
 }

 .table-vendas .yellow tr{
   border-left: 2px solid #F9F090;
   border-right: 2px solid #F9F090;
   border-bottom: 2px solid #F9F090;
 }

 /* green */
 .table-vendas .green  tr:first-child {
   background-color: #228B22;
 }

 .table-vendas .green tr{
   border-left: 2px solid #228B22;
   border-right: 2px solid #228B22;
   border-bottom: 2px solid #228B22;
 }

 /*.td-informacoes {
  background-color: #f3fbfd;
  color: #7e7f83;
  height: 30px;
  border-bottom: 1px solid #dfe4e7;
  font-size: 14px;
 }

 .td-produto {
   background-color: #fefefe;
   color: #7e7f83;
   height: 30px;
   border-bottom: 1px solid #dfe4e7;
   font-size: 14px;
 }

 .td-produto:last-child {
   text-align: right;
   padding-right: 10px;1
 }

#id_venda hr {
  margin-bottom: 0px;
}
 */

.button-expand {
  border: none;
  background: none;
  width: 26px;
  color: #808080;
  margin: 5px;
  margin-top: 10px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:350px;
}

/* Modal */
.modal-crop {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal-crop .box {
  background-color: #fff;
  padding: 10px;
  width: 600px;
  margin: 10% auto;
}

.modal-crop .box .title {
  font-family: 'Open Sans', sans-serif;
  color: #878790;
  font-weight: normal;
  margin: 0px 0px 5px 0px;
}

.http-401 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  color: #333;
}

.http-401 h1 {
  margin-top: 10px;
}

.http-401 img{
  width: 200px;
  display: block;
  margin: 0px auto;
  margin-top: 40px;
}


.col3-relatorio {
  display: inline-block;
  vertical-align: top;
  width: 31.3%;
  margin: 1%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.07);
  box-sizing: border-box;
}

.col3-relatorio h5,
.col2-relatorio h5  {
  margin: 0px;
  color: #878790;
  font-family: 'Open Sans', sans-serif;
}

.col3-relatorio h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #4aa3df;
  margin: 20px 0px;
  box-sizing: border-box;
}

.col3-relatorio p {
  color: #878790;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0px;
}

.col2-relatorio {
  width: 44%;
  display: inline-block;
  vertical-align: top;
  margin: 1%;
  height: 300px;
  position: relative;
  padding: 20px;
  box-sizing: 30px;
}

.col2-relatorio canvas {
  width: 100%;
  height: 100%;
}


.image-banner {
  background-color: rgba(0,0,0,0.1);
  position: relative;
  width: 100%;
}

.image-banner img{
  width: 100%;
}

.bottom-fixed {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.list-of-search {
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 150px;
  overflow-y: auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.list-of-search li {
  font-size: 13px;
  padding: 6px;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: none;
  cursor: default;
}

.list-of-search li:hover {
  background-color: rgba(159, 207, 238,0.1);
}

.list-of-search li:last-child {

  border-bottom: 1px solid rgba(0,0,0,0.1);
}


.product-banner {
  border: 1px solid rgba(0,0,0,0.1);
}

.product-banner img {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.product-banner div {
  display: inline-block;
}

.product-banner div h1 {
  font-size: 18px;
  color: #444;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}


.product-banner div h2 {
  font-size: 16px;
  margin: 0px;
  color: rgba(0,0,0,0.5);
  font-family: 'Open Sans', sans-serif;
}


.banner img {
  position: relative;
  width: 100%;
}

.banner i {
  font-size: 23px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 400;
  top: 5px;
  right: 0px;
  color: #fff;
  background-color: #9fcfee;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner i:hover{
  background-color: #92bedb;
}

#aviso-preco{
  font-size: 12px;
}

.soft-label {
  display: inline-block;
  font-weight: normal;
  opacity: 0.7;
}

.list-remove {

  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list-remove li {
  position: relative;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.list-remove li button {
  position: absolute;;
  top: 0px;
  right: 30px;
}

.list-remove p {
  padding: 0px 30px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #878790;
}

.component {
  padding-bottom: 20px;
}

label.soft {
  font-weight: normal;
}

.slider {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
  position: relative;
}

.slider .fill {
  width: 0px;
  height: 30px;
  background-color: #496dc5;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.slider .handler {
  position: absolute;
  height: 35px;
  width: 9px;
  top: -4px;
  left: 0px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.01);
  z-index: 99999999;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.slider .value {
  top: 0px;
  left: 20px;
  position: absolute;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.box-70 {
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #dadee1;
  display: block;
  margin: 80px auto 30px auto;
}

.container-100 {
  display: block;
  width: 910px;
  margin: 0 auto;
}
.container-70 {
  width: 600px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.container-30 {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.phone {
  margin-top: 80px;
  width: 300px;
  height: 600px;
  position: fixed;
}

.phone img.mobile {
  width: 300px;
}

.phone .device {
  position: absolute;
  height: 480px;
  width: 260px;
  top: 80px;
  left: 20px;
  background-color: #ECEDF1;
}

.device .bar {
  background-color: #283d82;
  height: 40px;
}

.device .bar .fa-bars {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.device .bar h3 {
  display: inline-block;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  margin: 0px;
}

.device .bar .fa-shopping-cart,
.device .bar .fa-search {
  float: right;
  color: #fff;
  line-height: 40px;
  padding: 0 7px;
}

.device .bar .fa-search {
  padding-right: 15px;
}

.device-content {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  top: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.device ::-webkit-scrollbar {
    width: 5px;
    height: 50px;
    opacity: 0;
}
.device ::-webkit-scrollbar-track  {
}
.device ::-webkit-scrollbar-thumb   {
  background-color: rgba(0,0,0,0.2);
  width: 10px;
  border-radius: 5px;
  border: 2px solid #ECEDF1;
}

.banner {
  position: relative;
}

.banner .options {
  display: none;
}

.banner:hover .options {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  background-color: rgba(0,0,0,0.3);
}

.banner .options span {
  width: 50%;
  display: block;
  text-align: center;
  margin: 40px auto;
  color: #333;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.max-two-search .field-query {
  font-size: 0px;
  position: relative;
}

.max-two-search .input-query {
 width: 70%;
 font-size: 14px;
 vertical-align: top;
 box-sizing: border-box;
 padding-left: 30px;
}

.max-two-search .field-query .fa-search {
  position: absolute;
  line-height: 30px;
  top: 0px;
  color: #496dc5;
  font-size: 16px;
  left: 10px;
}

.max-two-search span {
  width: 30%;
  font-size: 14px;
  background-color: #496dc5;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.max-two-search span:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.8;
}


.result-search {
 height: 60px;
 border: 1px dotted rgba(0,0,0,0.2);
 margin-top: 5px;
 -webkit-transition: height 0.5s;
 transition: height 0.5s;
 overflow-x: hidden;
 overflow-y: auto;
}

.result-search p {
  margin: 0px;
  line-height: 60px;
  text-align: center;
  color: rgba(0,0,0,0.5);
  font-size: 14px;
}

.max-two-search .result-search ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.max-two-search .result-search ul li img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

.max-two-search .result-search ul li {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  vertical-align: middle;
  padding: 3px;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.max-two-search .result-search ul li:hover {
  background-color: rgba(0,0,0,0.02);
}

.max-two-search .selected h3 {
  display: inline-block;
  color: #444;
  font-size: 14px;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  font-weight: normal;
}

.max-two-search .selected img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

.message {
  text-align: center;
  padding: 20px;
  opacity: 0.5;
}

.banners {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.banners label.days {
  font-weight: normal;
  margin: 0px;
}

.banners .first {
 width: 100%;
}

.banner-store {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
}

.banner-store h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin: 0px;
}

.banner-store img{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.banner-store span {
  float: right;
}

.banner-store span a{
  text-decoration: none;
  font-size: 14px;
  padding: 0 5px;
  opacity: 0.5;
  color: #222;
  cursor: pointer;
}

.banner-store span a:hover {
  color: #283d82;
}

p.sub-label {
  font-size: 12px !important;
  margin: 0px 0px 5px 0px;
}

.max-pick-color {
  color: #878790;
}

.color {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.1);
}

.max-pick-color .fa-trash,
.max-pick-size .fa-trash {
  vertical-align: top;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #878790;
  border: 1px solid rgba(0,0,0,0.1);
}

.max-pick-color .fa-trash:hover,
.max-pick-size .fa-trash:hover {
  color: #4aade1;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.modal-confirm-data {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99999;
   width: 100vw;
   height: 100vh;
   background-color:rgba(224,224,224,0.5);
}

.modal-confirm-data .show-view-container {
  padding: 20px;
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  margin-top: 10vh;
  max-height: 80vh;
  overflow-y: auto;
}

.show-view-container h3 {
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
}

.show-view-container .show-view {
  margin-bottom: 20px;
}


.show-view  table {
  width: 100%;
}

.show-view  table tr {
  border-bottom: 1px solid rgba(0,0,0,0.04);
}

.show-view  table tr td {
  padding: 10px;
}

.show-view  table tr td:first-child {
  color: rgba(0,0,0,0.4);
  width: 130px;
}


.banner-editor {
  width: 640px;
  height: 300px;
  background-color: rgba(0,0,0,0.03);
  position: relative;
  overflow: hidden;
}

.banner-editor img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  cursor: move;
  box-sizing: border-box;
}

.banner-editor textarea {
  resize: none;
  overflow: hidden;
  padding: 5px;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: move;
  box-sizing: border-box;
}

.banner-editor textarea:focus {
  cursor: text;
}

#scale-elements {
  display: none;
  font-size: 14px;
  background-color: #fff;
  color: rgba(0,0,0,0.5);
  width: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 15px;
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  position: absolute;
  box-sizing: border-box;
  z-index: 9999999;
  cursor: nwse-resize;
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#scale-elements i {
  padding-left: 4px;
}

#move {
    display: none;
    font-size: 14px;
    background-color: #fff;
    color: rgba(0,0,0,0.5);
    width: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 0px;
    padding-left: 3px;
    padding-top: 0px;
    position: absolute;
    box-sizing: border-box;
    z-index: 9999999;
    cursor: move;
}

#scaleX {
  display: none;
  font-size: 14px;
  background-color: #fff;
  color: rgba(0,0,0,0.5);
  width: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 15px;
  margin: 0px;
  padding-left: 3px;
  padding-top: 0px;
  position: absolute;
  box-sizing: border-box;
  z-index: 9999999;
  cursor: ew-resize;
}

#scaleY {
  display: none;
  font-size: 14px;
  background-color: #fff;
  color: rgba(0,0,0,0.5);
  width: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 15px;
  margin: 0px;
  padding-left: 7px;
  padding-top: 0px;
  position: absolute;
  box-sizing: border-box;
  z-index: 9999999;
  cursor: ns-resize;
}

.layers {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.layers ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.layers ul li {
  margin: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  height: 30px;
  box-sizing: border-box;
}

.layers ul li .layer-name {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
  border-right: 1px solid rgba(0,0,0,0.1);
  line-height: 30px;
  cursor: pointer;
}

.layers ul li .layer-name .fa-trash {
  float: right;
  margin-top: 10px;
  font-size: 15px;
  margin-right: -3px;
  -webkit-transition: all 0.5;
  transition: all 0.5;
  cursor: pointer;
}

.layers ul li .layer-name .fa-trash:hover {
  color: #ec6f8d;
}

.layers ul li .attrs {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 0px 5px 0px 5px;
}

.layers ul input {
  height: 23px;
  margin-right: 3px;
  font-size: 13px;
  width: 60px;
}

.layer-name {
  width: 150px;
}

.tools {
  padding: 5px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.tools i {
  padding: 5px;
  cursor: pointer;
  color: #333;
  background-color: rgba(0,0,0,0.03);
  border: 1px solid rgba(0,0,0,0.07);
  margin: 0px ;
}

#editor-text {
  display: none;
  width: 470px;
  position: relative;
  margin: 5px auto;
  background-color: #fff;
  padding: 6px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border-radius: 6px;
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  z-index: 999999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

#editor-text select, #editor-text input {
  font-size: 12px;
  height: 22px;
  border-radius: 5px;
}

#editor-text i {
  margin-left: 4px;
}

#editor-text i.select {
  color: #7693F1;
}

#editor-text input[type='text']{
  width: 40px;
  padding: 0px;
  padding-left: 4px;
}

#editor-text .editor-color {
  display: inline-block;
  vertical-align: top;
}

.color-picker-swatch {
  border-right: 1px solid rgba(0,0,0,0.2) !important;
}

#editor-text .color-picker-panel {
  position: absolute;
  left: -100px;
}


#editor-text .color-picker-input {
  width: 100px !important;
  margin-left: 5px;
}

/* Classe para estilizar o menu do nome de usuário que
fica do canto superior direito. */
header .go-right .username i {
  margin-left: 3px;
}

header .go-right .username {
  position: relative;
  cursor: pointer;
  padding: 10px;
}

header .go-right .username:hover .menu-user{
  display: block;
}

.username .menu-user {
  display: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  width: 200px;
  position: absolute;
  top: 30px;
  right: 0px;
}

.username .menu-user .menu-header {
  display: block;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  cursor: default;
}

.username .menu-user  ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.username .menu-user  ul li {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.username .menu-user  ul li:last-child {
  border: none;
}

.username .menu-user  ul li:hover {
  background-color: #f2fffd;
  color: #4aade1;
}

.username .menu-user form {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
  margin: 0px;
}


.username .menu-user form label {
  margin: 0px;
  font-size: 12px;
}

.username .menu-user form button,
.username .menu-user form input {
  width: 100%;
}

.center-link {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: rgba(0,0,0,0.6);
}

.center-link:hover {
  color: #496dc5;
}

.modal img.mini-center-logo {
  width: 150px;
  display: block;
  margin: 20px auto;
}

.soft-describe {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,0,0,0.5);
  text-align: center;
}

.side-menu-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
}

.side-menu-container .menu-content {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}

.side-menu-container .menu {
  border-right: 1px solid #dadee1;
  width: 180px;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}

.side-menu-container .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-menu-container .menu ul li {
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #909099;
  border-bottom: 1px solid #e7eaec;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.side-menu-container .menu ul li:first-letter {
  text-transform: uppercase;
}

.side-menu-container .menu ul li:hover {
  background-color: #f2fffd;
  color: #4aade1;
}

.side-menu-container .menu li.selected {
  color: #4aade1;
  font-weight: bold;
}

.title-label {
  background-color: rgba(0,0,0,0.07);
  font-size: 12px;
  margin: 0px;
  padding: 5px 10px;
  color: #878790;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #e7eaec;
}

.term-search {
  border-bottom: 1px solid #e7eaec;
  padding: 5px;
}

.term-search p {
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  vertical-align: middle;
}

.term-search p i {
  cursor: pointer;
  font-size: 18px;
  vertical-align: middle;
}


.fill-screen {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: auto;
  z-index: 1000;
}

.center-container {
  max-width: 500px;
  display: block;
  margin: 0 auto 30px auto;
}

.logo-center  {
  width: 200px;
  display: block;
  margin: 50px auto 20px auto;
}

.view-register .welcome {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #777;
  padding-bottom: 20px;
}

.view-register label {
  font-size: 13px;
}

.view-register h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: rgba(0,0,0,0.6);
}

.center-container input, select {
  width: 100%;
}

.center-container input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

.center-container .check, .check {
  padding-top: 20px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

.set div.half {
  display: inline-block;
  margin: 0 auto;
}



.set div.half:nth-child(2) {
  width: 48%;
  margin-left: 1%;
}

.set div.half:first-child {
  width: 49%;
  margin-right: 1%;
}

.input-error {
  border: 1px solid #F1AFAF;
  box-shadow: 0px 0px 10px #EC9A9A;
}

.group-data {
  font-size: 14px;
  line-height: 20px;
}

.group-data strong {
  color: #878790;
}


.homologar input {
  width: 200px;
  height: 30px;
  vertical-align: top;
}

.homologar button {
  height: 30px;
  margin: 0px;
  vertical-align: top;
}

.homologar label {
  margin-bottom: 0px;
}

.homologar p  {
  margin: 0px 0px 4px 0px;
  font-size: 12px;
  opacity: 0.9;
}

.termos-modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 4000;
}

.termos-modal .box {
  position: fixed;
  margin: auto auto;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 80%;
  max-width: 960px;
  width: 100%;
  background-color: #fff;
}

.termos-modal .box .header {
  position: absolute;
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  color: #333;
}

.termos-modal .box .footer {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  position: absolute;
  height: 75px;
  border-top: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  left: 0px;
  bottom: 0px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.termos-modal .box .content {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 40px;
  bottom: 75px;
  left: 0px;
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 20px;
}

.termos-modal .box .content h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.termos-modal .box .content h3 {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
}

.termos-modal .box .content p {
  font-size: 14px;
  text-align: justify;
}

.termos-modal .box .content .list-letter {
  list-style: lower-latin;
}

.termos-modal .box .content ul li {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 14px;
}

.termos-modal .box .content table td {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.1);
}


.alert-modal {
  background-color: rgb(255,255,255);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 4000;
}

.alert-modal  .box {
  position: fixed;
  margin: auto auto;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 500px;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
}

.alert-modal  .box h1 {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  color: #333;
  font-size: 25px;
  margin: 0px;
  text-align: center;
}

.alert-modal  .box p {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  color: #333;
  text-align: justify;
  font-size: 18px;
}


div [disabled="disabled"] {
  opacity: .6;
}


.pagination ul {
  list-style: none;
}

.pagination li {
  display: inline;
  margin-right: 4px;
  text-align: center;
}

.pagination li a {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.2);
  color: #333;
}

.pagination li a.mark {
  background-color: #283d82;
  border: 1px solid #283d82;
  color: #fff;
}
