<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div style=" padding: 20px 0px;">
      <img style="width: 150px; display: block; margin: 0 auto;" src="http://107.170.34.163:3000/images/logo.png" border="0">
      <h2 style="text-align: center; color: #2C4175;font-weight: normal ;font-family:Arial, Helvetica;">Acesso ao sistema</h2>

      <div style="background-color: rgba(0,0,0,0.02); border: 1px solid rgba(0,0,0,0.09); padding: 20px; text-align: center; color: rgba(0,0,0,0.6); font-family:Arial, Helvetica; max-width: 650px; margin: 0 auto;">
        <p style="font-size: 15px;">
        Novo cadastrado de usuário.
        </p>

         <h3>Nome: {{ name }} <br> E-mail: {{ email }} <br> Associado cdl: {{ cdl }}</h3>
      </div>

      <p style="text-align: center; color: rgba(0,0,0,0.5); font-family:Arial, Helvetica; font-size: 14px;">
        Equipe CDL Shopping <br>
        <a href="http://cdlshoppingnatal.com.br/">cdlshoppingnatal.com.br</a>
      </p>


    </div>


  </body>
</html>
