<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div style=" padding: 20px 0px;">
      <img style="width: 150px; display: block; margin: 0 auto;" src="http://107.170.34.163:3000/images/logo.png" border="0">
      <h2 style="text-align: center; color: #2C4175;font-weight: normal ;font-family:Arial, Helvetica;">Esqueceu sua senha?</h2>

      <div style="background-color: rgba(0,0,0,0.02); border: 1px solid rgba(0,0,0,0.09); padding: 20px; text-align: center; color: rgba(0,0,0,0.6); font-family:Arial, Helvetica; max-width: 650px; margin: 0 auto;">
        <p style="font-size: 15px;">
        Olá {{ name }}, você está recebendo esse email por ter solicitado ajuda para
        recuperar a sua senha atual de sua conta do CDL Shopping. Caso não tenha
        solicitado este recurso apenas ignore esse email. Abaixo segue a sua senha
         para que volte a ter acesso ao nosso sistema e seus benefícios.
        </p>

         <h3>senha: {{ password }}</h3>
      </div>

      <p style="text-align: center; color: rgba(0,0,0,0.5); font-family:Arial, Helvetica; font-size: 14px;">
        Equipe CDL Shopping <br>
        <a href="http://cdlshoppingnatal.com.br/">cdlshoppingnatal.com.br</a>
      </p>


    </div>


  </body>
</html>
