<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div style=" padding: 20px 0px;">
      <img style="width: 150px; display: block; margin: 0 auto;" src="http://107.170.34.163:3000/images/logo.png" border="0">
      <h2 style="text-align: center; color: #2C4175;font-weight: normal ;font-family:Arial, Helvetica;">Acesso ao sistema</h2>

      <div style="background-color: rgba(0,0,0,0.02); border: 1px solid rgba(0,0,0,0.09); padding: 20px; text-align: center; color: rgba(0,0,0,0.6); font-family:Arial, Helvetica; max-width: 650px; margin: 0 auto;">
        <p style="font-size: 15px;">
        Olá, {{ name }},  você acabou de se cadastrar no CDL Shopping, agora poucos
        passos te separam de começar suas vendas online!  A CDL Natal está disponibilizando
        para você um período de testes totalmente gratuito. Durante 60 dias você
        poderá utilizar o aplicativo sem gastar um centavo! Basta
        completer seu cadastro nos próximos 15 dias para garantir seu período grátis.
        Então não perca tempo:  Use os dados de login que criamos pra você:
        </p>

         <h3>Login: {{ email }} <br> Senha: {{ password }}</h3>
         <a href="http://admin.cdlshoppingnatal.com.br/" style="background-color: #2d4276; padding: 10px; color: #fff; text-decoration: none; font-size: 14px;">
           Completar meu cadastro
         </a>
      </div>

      <p style="text-align: center; color: rgba(0,0,0,0.5); font-family:Arial, Helvetica; font-size: 14px;">
        Parabéns e muito obrigada! Equipe CDL Shopping <br>
        <a href="http://cdlshoppingnatal.com.br/">cdlshoppingnatal.com.br</a>
      </p>


    </div>


  </body>
</html>
