<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div style=" padding: 20px 0px;">
      <img style="width: 150px; display: block; margin: 0 auto;" src="http://107.170.34.163:3000/images/logo.png" border="0">
      <h2 style="text-align: center; color: #2C4175;font-weight: normal ;font-family:Arial, Helvetica;">Alteração nas informações da loja</h2>

      <div style="background-color: rgba(0,0,0,0.02); border: 1px solid rgba(0,0,0,0.09); padding: 20px; text-align: center; color: rgba(0,0,0,0.6); font-family:Arial, Helvetica; max-width: 650px; margin: 0 auto;">
        <p style="font-size: 15px;">
        Olá {{ name }}, você está recebendo esse email por ter ocorrido uma alteração nos dados
        cadastrados da loja {{ store.name }}. Os dados da alteração seguem na tabela abaixo para
        que possa conferir a autenticidade das informações.
        </p>
      </div>



      <table cellspacing="0" cellpadding="10" border="0" style="font-size: 14px ; font-family:Arial, Helvetica; margin: 10px auto;">
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Nome</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.name }}</td>
        </tr>
        <tr >
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Email</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.email }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Site (opcional)</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.site }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Estado</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.address.state }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Cidade</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.address.city }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Rua</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.address.street }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Shopping (opcional)</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.address.shopping }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Latitude</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.address.latitude }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Longitude</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.address.longitude }}</td>
        </tr>
        <tr>
          <td width="120" style="color: rgba(0,0,0,0.6) ; border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">Descrição</td>
          <td width="300" style="color: #444 ;border-bottom: 1px solid rgba(0,0,0,0.1);" valign="top">{{ store.description }}</td>
        </tr>

      </table>

      <p style="text-align: center; color: rgba(0,0,0,0.5); font-family:Arial, Helvetica; font-size: 14px;">
        Equipe CDL Shopping <br>
        <a href="http://cdlshoppingnatal.com.br/">cdlshoppingnatal.com.br</a>
      </p>
    </div>


  </body>
</html>
