<!DOCTYPE html>
<html lang="pt">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>CDL Shopping</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CDN FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- BOWER CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/font-awesome.min.css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/balloon.css">
  <link rel="stylesheet" href="css/layout.css">

  <script src="js/lib/jquery.js"></script>

  <!-- BOWER JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <!--  Js background -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>
  <!-- Iamge Base 64 -->
  <script src="vendor/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
  <!-- Moment -->
  <script src="vendor/moment/min/moment.min.js"></script>
  <!-- Chart -->
  <script src="vendor/Chart.js/Chart.min.js"></script>
  <!-- Mask -->
  <script src='vendor/ngMask/dist/ngMask.min.js'></script>
  <!-- Loading-angular -->
  <script src="vendor/angular-loading-bar/build/loading-bar.min.js"></script>
  <link rel='stylesheet' href='vendor/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
  <!-- pick color
  <link rel="stylesheet" href="vendor/angular-color-picker/dist/angularjs-color-picker.min.css" />
  <script src="vendor/tinycolor/dist/tinycolor-min.js"></script>
  <script src="vendor/angular-color-picker/dist/angularjs-color-picker.min.js"></script>-->
  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/dist/app.js"></script>

</head>
<body ng-app="my-app">

   <!-- Panel de opções -->
   <div class="container-left" ng-controller="nav">
     <img class="logo" src="images/logo.png" alt="Maxshop logo."/>

     <!-- Lista para usários donos de loja -->
      <ul ng-show="role == 'owner'">
        <li onclick="location.href = '#/store'"><i class="fa fa-university"></i> Loja</li>
        <li onclick="location.href = '#/products'"><i class="fa fa-cube"></i> Produtos</li>

        <li onclick="location.href = '#/vendas'"><i class="fa fa-money"></i> Vendas</li>
        <!--<li onclick="location.href = '#/relatorio/store'"><i class="fa fa-line-chart"></i> Relatórios</li>-->
      </ul>

      <!-- Lista para usários Admins -->
      <ul ng-show="role == 'admin'">
        <li onclick="location.href = '#/stores'"><i class="fa fa-briefcase"></i> Lojas</li>
        <li onclick="location.href = '#/promotions'"><i class="fa fa-picture-o"></i> Promoções</li>
        <li onclick="location.href = '#/categories'"><i class="fa fa-tags"></i> Categorias</li>
        <li onclick="location.href = '#/homologar'"><i class="fa fa-briefcase"></i> Homologar</li>
        <li onclick="location.href = '#/suporte'"><i class="fa fa-envelope-o"></i> Suporte</li>
        <li onclick="location.href = '#/faq'"><i class="fa fa-question"></i> FAQ</li>


        <!--<li onclick="location.href = '#/vendas/visao_geral'"><i class="fa fa-money"></i> Vendas</li>
        <li onclick="location.href = '#/relatorio/admin'"><i class="fa fa-line-chart"></i> Relatório</li>-->

      </ul>
   </div><!--
    não pode haver espaço em branco entre as divs.
    Container é a div onde será renderizado os conteúdos
    das páginas.
--><div class="container">
      <header>
        <div class="go-right">
          <span class="username">
            {{ $root.username }} <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <div class="menu-user">
              <span class="menu-header">
                {{ $root.email }}
              </span>
              <form ng-show="$root.changePassword">
                <label>Senha atual</label>
                <input type="password" id="password">
                <label>Nova senha</label>
                <input type="password" id="new_password">
                <button class="primary" ng-click="updatePassword()">Salvar nova senha</button>
                <button class="secondary" ng-click="$root.closeEditPassword()">Cancelar</button>
              </form>
              <ul>
                <li ng-hide="$root.changePassword" ng-click="$root.editPassword()">Alterar a senha</li>
                <li ng-click="signOut()">Sair do sistema</li>
              </ul>
            </div>
          </span>
          <!-- <a ng-click="signOut()" href=""><i class="fa fa-sign-out"></i> Sair</a> -->
        </div>
      </header>
      <div ng-view></div>
   </div>



</body>
</html>
