<div id="modalback" class="modal-back">
  <div class="modal">
    <img class="mini-center-logo" src="images/logo.png" alt="Maxshop logo."/>

    <div id="form">
      <p class="soft-describe">
        Entre com o seu endereço de email, vamos verificar e caso tenha um usuário
        associado com essa conta mandaremos sua senha.
      </p>
      <input class="full" id="email" type="email" placeholder="E-mail">
      <button class="primary full" ng-click="send()">Enviar</button>

      <a class="center-link" href="#/">Fazer login?</a>
    </div>

    <span class="message-error" ng-show="message">{{ message }}</span>
  </div>
</div>
