<div id="modalback" class="modal-back">
  <div class="modal">
    <img class="logo" src="images/logo.png" alt="Maxshop logo."/>

    <div id="form">
      <label>E-mail</label>
      <input class="full" ng-model="email" type="email">
      <label>Senha</label>
      <input class="full" ng-model="password" type="password">
      <button class="primary full" ng-click="auth()">Entrar</button>

      <a class="center-link" href="#/esqueci-senha">Esqueceu sua senha?</a>
    </div>

    <span class="message-error" ng-show="message">{{ message }}</span>
  </div>
</div>
