<div class="container-100">
  <div class="container-70">
    <div class="full-box">
        <h4 class="title"><i class="fa fa-picture-o"></i> Promoções</h4>
        <div class="go-right">
          <button class="primary" onclick="location.href = '#/promotions/new'">Nova promoção</button>
        </div>
        <hr/>

        <p class="message" ng-show="banners.length == 0">Nenhum banner cadastrado até o momento.</p>

        <ul class="banners">
          <li ng-repeat="b in banners">
            <img class="first" src="{{ b.avatar.url }}"/>
            <div class="banner-store">
                <img src="{{ b.store.avatar.url }}" alt="" />
                <h3> {{ b.store.name }} <label class="days">{{ b.days? (b.days + ' restantes') : '&#8734'}}</label></h3>

                <span>
                  <!-- <a href="#/banners/edit/{{ b._id }}"><i class="fa fa-pencil"></i> Editar</a> -->
                  <a ng-click="delete($index)"><i class="fa fa-trash-o"></i> Remover</a>
                </span>
            </div>

          </li>
        </ul>

    </div>

  </div>
  <div class="container-30">
    <div class="phone">
      <img class="mobile" src="images/phone-case.png" alt="" />
      <div class="device">
        <div class="bar">
          <i class="fa fa-bars"></i><h3>CDL SHOPPING</h3>
          <i class="fa fa-search"></i>
          <i class="fa fa-shopping-cart"></i>
        </div>

        <div class="device-content">
          <div class="banner"
              ng-repeat="item in banners">
                <img src="{{ item.avatar.url }}" alt="" />
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
