
    <div class="box-center">
        <h4 class="title"><i class="fa fa-picture-o"></i> Promoções</h4>
        <hr/>

        <div class="image-banner">
          <img id="preview-image" src="{{ image }}"
           ng-show="imageBanner" />
        </div>


        <div class="content">
          <button class="primary" ng-click="pickImage()"> Enviar arquivo</button> <label class="soft-label">  O ideal é que a imagem tenha 640x300.</label>
          <input id="file" class="hidden" type='file' ng-model='imageBanner' base-sixty-four-input>

          <max-two-search ng-model="storeAndProduct"></max-two-search>

          <label class="soft"><input type="checkbox" ng-model="checkbox_forever"> Sem tempo de término. </label>

          <div id="daysdiv">
            <label class="soft">Promoção vai até o dia <b>{{ pretty_days }}<b/></label>
            <max-slider ng-model="days"></max-slider>
          </div>

          <br/>

          <button class="primary" ng-click="save()"> Salvar banner</button>
        </div>
    </div>
