<div class="box-center" style="width: 640px;">
    <h4 class="title"><i class="fa fa-picture-o"></i> Novo banner</h4>
    <hr/>

    <max-banner></max-banner>

    <div class="content" >
      <button class="primary" ng-click="save()"> Salvar banner</button>
    </div>
</div>
