<div class="full-box">
  <h4 class="title"><i class="fa fa-cube"></i> SUPORTE </h4>
  <hr/>

  <div class="side-menu-container">
      
    <textarea ng-model="form.texto"></textarea>
    <button ng-click="enviar()">Enviar</button>

  </div>

</div>
