<div class="upload" ng-click="addImage()">
    <span>Enviar imagem<br/><i class="fa fa-cloud-upload"></i></span>
    <img  src="{{ (image || store.avatar.url) || 'images/produto.jpg' }}" alt="Imagem da loja." />

</div>

<div class="content">

  <label>Nome</label>
  <input class="full" ng-model="store.name" type="text">

  <!--<label><input type="checkbox"  ng-model="store.liquida"> Liquida Natal</label>
  <p> Caso empresa participe do liquida Natal realizado pela CDL Natal marque como verdadeiro.</p>-->

  <label>Site <span class="required">(opcional)<span> </label>
  <input class="full" ng-model="store.site" type="text">

  <label>Quantidade máxima de parcelas</label>
  <input type="number" ng-model="store.maxInstallments" class="full">

  <label>CEP</label>
  <input class="full" ng-model="store.address.cep" ng-blur="cepChange()" type="text">

  <label>Estado</label>
  <input class="full" ng-model="store.address.state" type="text">

  <label>Cidade</label>
  <input class="full" ng-model="store.address.city" type="text">

  <label>Bairro</label>
  <input class="full" ng-model="store.address.district" type="text">

  <label>Rua</label>
  <input class="full" ng-model="store.address.street" type="text">

  <label>Complemento <span class="required">(opcional)<span></label>
  <input class="full" ng-model="store.address.complement" type="text">

  <label>Número</label>
  <input class="full" ng-model="store.address.number" type="text">


  <label>Latitude <span class="required">(opcional)<span></label>
  <input class="full"  ng-model="store.address.latitude" type="number">

  <label>Longitute <span class="required">(opcional)<span></label>
  <input class="full"  ng-model="store.address.longitude" type="number">

  <label>Descrição <span class="required">(opcional)<span></label>
  <textarea ng-model="store.description"  rows="8" cols="40"></textarea>

  <div class="check">
    <input type="checkbox" ng-model="store.vitrine"> <strong>Apenas vitrine.</strong>
     (Marcando essa opção não poderá vender no aplicativo).
  </div>

  <div ng-hide="store.vitrine">
    <!-- Sócio administrador -->
    <h3>Sócio administrador</h3>
    <label>Nome completo</label>
    <input id="partner_admin_name" class="full" type="text" ng-model="store.partner_admin.name">

    <div class="set">
      <div class="half">
        <label>CPF</label>
        <input id="partner_admin_cpf" class="full" type="text" ng-model="store.partner_admin.cpf" mask='999.999.999-99'>
      </div>
      <div class="half">
        <label>Telefone</label>
        <input id="partner_admin_phone" class="full" type="text" ng-model="store.partner_admin.phone" mask='(99) 9?9999-9999'>
      </div>
    </div>

    <!-- Dados bancários -->
    <h3>Conta bancária</h3>
    <label>Nome </label>
      <input id="bank_account_legal_name" type="text" class="full" ng-model="store.bank_account.legal_name">
    <label for="">Banco</label>
    <select id="bank_account_bank_code" ng-model="store.bank_account.bank_code" >
      <option ng-repeat="bank in banks | orderBy: 'name'" value="{{bank.code}}">{{bank.code}} - {{bank.name}}</option>
    </select>

    <div class="set">
      <div class="half">
        <label>Agência</label>
        <input id="bank_account_agencia" class="full" type="text" ng-change="onlyNumbers('agencia')" ng-model="store.bank_account.agencia">
      </div>
      <div class="half">
        <label>DV da agência</label>
        <input id="bank_account_agencia_dv" class="full" type="text"  ng-change="onlyNumbers('agencia_dv')" ng-model="store.bank_account.agencia_dv">
      </div>
    </div>


    <div class="set">
      <div class="half">
        <label>Conta</label>
        <input id="bank_account_conta" type="text" class="full" ng-change="onlyNumbers('conta')" ng-model="store.bank_account.conta">
      </div>
      <div class="half">
        <label>DV da conta</label>
        <input id="bank_account_conta_dv" type="text" class="full" ng-change="onlyNumbers('conta_dv')" ng-model="store.bank_account.conta_dv">
      </div>
    </div>
  </div>

  <br>

  <max-button-send ng-show="isEditRoute()" action="update()">Salvar dados</max-button-send>
  <button class="secondary" ng-click="back()">Cancelar alterações</button>
  <p class="message-error" ng-show="message && isEditRoute()">{{ message }}</p>
</div>
