<div class="box-center" style=" margin-top: 20px; min-height: auto; */">
    <h4 class="title">
      <i class="fa fa-user"></i> Informações do usuário</h4>
    <hr/>

    <div class="content" style=" padding-top: 0px;">

      <label>Nome</label>
      <input class="full" ng-model="user.name" type="text">

      <label>Email</label>
      <input class="full" ng-model="user.email" ng-blur="checkEmailUser()" type="email">
      <div id="email-user-message"></div>

      <max-button-send  action="create()">Salvar e criar loja</max-button-send>
      <p class="message-error" ng-show="message">{{ message }}</p>

    </div>
</div>
