<div class="full-box" id="id_venda" style="min-height: 500px;">
  <h4 class="title"><i class="fa fa-briefcase"></i>homologar</h4>
  <div class="go-right">

  </div>
  <hr/>
      <table class="table">
          <tr class="header">
            <td></td>
            <td>Nome</td>
            <td>Email do lojista</td>
            <td>Associado CDL</td>
            <td>Prazo para homologar</td>
            <td></td>
          </tr>

          <tr ng-repeat="store in stores">
            <td></td>
            <td>{{ store.name }}</td>
            <td style="text-transform: none;">{{ store.user.email }}</td>
            <td>{{ store.user.cdl ? 'SIM' : 'NÂO' }}</td>
            <td>{{ store.due_time }}</td>
            <td><button class="primary" ng-click="show(store._id)">Visualizar</button>
            </td>
          </tr>
      </table>

      <ul class="pagination">
        <li ng-repeat="i in pages track by $index"><a ng-class="pageClass(i)" href="#/homologar?page={{ i }}">{{ i }}</a></li>
      </ul>
  </div>
