<div class="box-center">
    <h4 class="title"><i class="fa fa-university"></i> Dados comerciais da loja</h4>
    <hr/>

    <div class="content">
      <label>Razão social</label> {{ store.corporate_name }}
      <label>Nome fantasia</label> {{ store.name }}
      <label>CPNJ</label> {{ store.cnpj }}
      <label>Endereço</label><hr>

      <div class="group-data">
        <strong>CEP:</strong> {{ store.address.cep }} </br>
        <strong>Estado:</strong> {{ store.address.state }} </br>
        <strong>Cidade:</strong> {{ store.address.city }} </br>
        <strong>Bairro:</strong> {{ store.address.district }} </br>
        <strong>Rua:</strong> {{ store.address.street }} </br>
        <strong>Complemento:</strong> {{ store.address.complement }} </br>
        <strong>Número:</strong> {{ store.address.number }} </br>
      </div>


      <label>Sócio administrador</label><hr>

      <label>Nome</label> {{ store.partner_admin.name }}
      <label>CPF</label> {{ store.partner_admin.cpf }}
      <label>Telefone</label> {{ store.partner_admin.phone }}

      <label>Contato responsável</label><hr>

      <label>Nome</label> {{ store.contact_responsible.name }}
      <label>CPF</label> {{ store.contact_responsible.cpf }}
      <label>E-mail</label> {{ store.contact_responsible.email }}

      <div ng-hide="store.vitrine">
        <label>Conta bancária</label><hr>
        <div class="group-data">
          <strong>Nome legal</strong>: {{ store.bank_account.legal_name }}<br>
          <strong>Banco</strong>:  {{ store.bank_account.bank_code  }}<br>
          <strong>Agência</strong>: {{ store.bank_account.agencia }} <br>
          <strong>Agência DV</strong>: {{ store.bank_account.agencia_dv }}<br>
          <strong>Conta</strong>:  {{ store.bank_account.conta }}<br>
          <strong>Conta DV</strong>: {{ store.bank_account.conta_dv }}
        </div>
      </div>

      <div class="box-info">
        <h4>Informações do usuário</h4>
        <p>
          <strong>Nome: </strong> {{ user.name }}<br/>
          <strong>Email: </strong> {{ user.email }}
        </p>
      </div>

      <div class="homologar">
        <label>Homologar loja</label>
        <p>O prazo para homologação vai até {{ due_time }}.</p>
        <input ng-hide="store.vitrine" type="text" ng-model="pagarmeApiKey" placeholder="Chave da api do Pagarme"> <button ng-click="update()" class="primary" ng-click="editStore()">Homologar</button>
      </div>
    </div>
</div>
