<div class="full-box" id="id_venda" style="min-height: 500px;">
  <h4 class="title"><i class="fa fa-briefcase"></i>Lojas Cadastradas</h4>
  <span style="opacity: 0.4;">(Lojas cadastradas: {{ total_stores }})</span>
  <div class="go-right">
    <button class="primary" onclick="location.href = '#/stores/new'">Nova Loja</button>
      <div class="box-search">
        <i class="fa fa-search"></i>
        <input class="input-search" type="text" placeholder="Pesquisar Loja"/>
      </div>
  </div>
  <hr/>
      <table class="table">
          <tr class="header">
            <td></td>
            <td>Nome</td>
            <td>Email do lojista</td>
            <td>Associado CDL</td>
            <td></td>
          </tr>

          <tr ng-repeat="store in stores">
            <td></td>
            <td>{{ store.name }}</td>
            <td style="text-transform: none;">{{ store.user.email }}</td>
            <td>{{ store.cdl ? 'sim' : 'não' }}</td>
            <td>
              <button class="primary" ng-click="show(store._id)">Visualizar</button>
              <button class="primary" ng-click="edit(store._id)">Editar</button>
              <button class="primary-delete" ng-click="delete(store._id)">Ocultar</button>
            </td>
          </tr>
      </table>

      <ul class="pagination">
        <li ng-repeat="i in pages track by $index"><a ng-class="pageClass(i)" href="#/stores?page={{ i }}">{{ i }}</a></li>
      </ul>

  </div>
