<div class="box-center">
    <h4 class="title"><i class="fa fa-university"></i>Cadastrar nova Loja</h4>
    <hr/>

    <ng-include src="'/views/stores/_form.html'"></ng-include>
</div>

<!-- form do usuário -->
<ng-include src="'/views/stores/_user_form.html'"></ng-include>
