<div class="fill-screen">
  <div class="center-container view-register">
      <div class="content">
        <img class="logo-center" src="images/logo.png" alt="Maxshop logo."/>
        <p class="welcome">
          Bem vindo lojista! Para poder concluir o cadastro de  sua loja é necessário
          preencher todos os dados comercias da sua empresa.
        </p>

        <h1>Cadastro comercial</h1>

        <!-- Conta do usuário -->
        <h3>Nova conta</h3>
        <p style="font-size: 14px; text-align: justify;color: rgba(0,0,0,0.6);">
          Uma nova conta em nosso sistema vai ser criada a partir dos dados preenchidos abaixo.
        </p>
        <div class="set">
          <div class="half">
            <label>Nome</label>
            <input id="user-name" type="text" ng-model="user.name">
          </div>
          <div class="half">
            <label>E-mail</label>
            <input id="user-email" type="email" ng-model="user.email">
          </div>
        </div>

        <div class="check">
          <input type="checkbox" ng-model="user.cdl"> <strong>Associado CDL.</strong>
        </div>


        <!-- Empresa -->
        <h3>Empresa</h3>

        <div class="set">
          <div class="half">
            <label>Razão social</label>
            <input id="company-name" type="text" ng-model="store.company.name">
          </div>
          <div class="half">
            <label>Nome Fantasia</label>
            <input id="company-fantasy_name" type="text" ng-model="store.company.fantasy_name">
          </div>
        </div>

        <div class="set">
          <div class="half">
            <label>CNPJ</label>
            <input id="company-cnpj" type="text" ng-model="store.company.cnpj"  mask='99.999.999/9999-99'>
          </div>
          <div class="half">
            <label>Telefone</label>
            <input id="company-phone" type="text" ng-model="store.company.phone" mask='(99) 9?9999-9999'>
          </div>
        </div>

        <!-- Endereço -->
        <h3>Endereço</h3>

        <div class="set">
          <div class="half">
            <label>CEP</label>
            <input id="address_cep" type="text" ng-model="store.address.cep" ng-blur="cepChange()" mask="99999-999">
          </div>
          <div class="half">
            <label>Rua</label>
            <input id="address_street" type="text" ng-model="store.address.street">
          </div>
        </div>
        <div class="set">
          <div class="half">
            <label>Número</label>
            <input id="address_number" type="text" ng-model="store.address.number">
          </div>
          <div class="half">
            <label>Complemento</label>
            <input id="address_complement" type="text" ng-model="store.address.complement">
          </div>
        </div>
        <div class="set">
          <div class="half">
            <label>Bairro</label>
            <input id="address_district" type="text" ng-model="store.address.district">
          </div>
          <div class="half">
            <label>Cidade</label>
            <input id="address_city" type="text" ng-model="store.address.city">
          </div>
        </div>
        <div class="set">
          <div class="half">
            <label>Estado</label>
            <input id="address_state" type="text" ng-model="store.address.state">
          </div>
        </div>

        <!-- Sócio administrador
        <h3>Sócio administrador</h3>
        <label>Nome completo</label>
        <input id="partner_admin_name" type="text" ng-model="store.partner_admin.name">

        <div class="set">
          <div class="half">
            <label>CPF</label>
            <input id="partner_admin_cpf" type="text" ng-model="store.partner_admin.cpf" mask='999.999.999-99'>
          </div>
          <div class="half">
            <label>Telefone</label>
            <input id="partner_admin_phone" type="text" ng-model="store.partner_admin.phone" mask='(99) 9?9999-9999'>
          </div>
        </div>-->

        <!-- Contato responsável -->
        <h3>Contato responsável</h3>
        <div class="set">
          <div class="">
            <label>Nome completo</label>
            <input id="contact_responsible_name" type="text" ng-model="store.contact_responsible.name">
          </div>
        </div>

        <!--
        <div class="set">
          <div class="half">
            <label>E-mail</label>
            <input id="contact_responsible_email" type="text" ng-model="store.contact_responsible.email">
          </div>
          <div class="half">
            <label>CPF</label>
            <input id="contact_responsible_cpf" type="text" ng-model="store.contact_responsible.cpf" mask='999.999.999-99'>
          </div>
        </div> -->

        <div class="check">
          <input type="checkbox" ng-model="store.vitrine" ng-change="vitrineChange()"> <strong>Apenas vitrine.</strong>
           (Marcando essa opção não poderá vender no aplicativo).
        </div>

        <div class="check" ng-disabled="!store.vitrine">
          <input type="checkbox" ng-model="store.hide_price" ng-change="vitrineChange()">
           <strong>Ocultar preços.</strong>
           (Não mostrar preços dos produtos).
        </div>

        <!--
        <div ng-hide="store.vitrine">
          <!-- Dados bancários - ->
          <h3>Conta bancária</h3>
          <label>Nome</label>
            <input id="bank_account_legal_name" type="text" class="full" ng-model="store.bank_account.legal_name">
          <label for="">Banco</label>
          <select id="bank_account_bank_code" ng-model="store.bank_account.bank_code" >
            <option ng-repeat="bank in banks | orderBy: 'name'" value="{{bank.code}}">{{bank.code}} - {{bank.name}}</option>
          </select>

          <div class="set">
            <div class="half">
              <label>Agência</label>
              <input id="bank_account_agencia" type="text" ng-change="onlyNumbers('agencia')" ng-model="store.bank_account.agencia">
            </div>
            <div class="half">
              <label>DV da agência</label>
              <input id="bank_account_agencia_dv" type="text"  ng-change="onlyNumbers('agencia_dv')" ng-model="store.bank_account.agencia_dv">
            </div>
          </div>


          <div class="set">
            <div class="half">
              <label>Conta</label>
              <input id="bank_account_conta" type="text" ng-change="onlyNumbers('conta')" ng-model="store.bank_account.conta">
            </div>
            <div class="half">
              <label>DV da conta</label>
              <input id="bank_account_conta_dv" type="text"  ng-change="onlyNumbers('conta_dv')" ng-model="store.bank_account.conta_dv">
            </div>
          </div>
        </div>
        -->


        <p class="message-error" ng-show="message">{{ message }}</p>
        <br>
        <button class="primary" ng-click="save()"> Finalizar cadastro</button>

      </div>
  </div>
</div>

<div class="termos-modal" ng-show="modal">
  <div class="box">
    <div class="header">
      Termos de uso:
    </div>
    <div class="content">
      <div ng-include="'views/stores/termos.html'"></div>
    </div>

    <div class="footer">
      <input type="checkbox" ng-model="aceito"> Li e aceito os termos de uso. <br>
      <button class="primary" ng-click="create()">Prosseguir</button>
      <button class="secondary" ng-click="close()">Cancelar</button>
    </div>
  </div>

</div>

<div class="alert-modal" ng-show="finish">
    <div class="box">
      <img class="logo-center" src="images/logo.png" alt="Maxshop logo."/>
      <h1>Loja criada com sucesso!</h1>
      <p>
        Enviamos um e-mail com as credenciais com acesso ao sistema.
        Ele pode demorá alguns minutos para aparecer na caixa de entrada do seu serviço de e-mail.
      </p>
    </div>
</div>
