<h1>Contrato do CDL Shopping</h1>

<p>
  Ao usuário do CDL Shopping,
</p>

<p>
  Obrigado por dedicar este tempo para ler o Sumário do contrato do CDL Shopping.
</p>

<p>
  Estas informações o ajudarão a operar na nossa plataforma de anúncios. É muito importante que conheça as nossas políticas e, por esta razão, é necessário que leia e compreenda os Termos e condições gerais de uso do site, bem como a leitura das cláusulas que viabilizam a contratação e as limitativas de direitos, aqui destacadas:
</p>

<ul class="list-number">
  <li>1. O CDL Shopping não é fornecedor de quaisquer produtos ou serviços anunciados no Aplicativo. O CDL Shopping presta um serviço consistente na oferta de uma plataforma na internet que fornece espaços para que Usuários anunciantes/potenciais vendedores anunciem, oferecendo à venda, os seus próprios produtos e serviços para que eventuais interessados na compra dos itens, os Usuários /potenciais compradores, possam negociar direta e exclusivamente entre si;</li>
  <li>2. Os Usuários anunciantes/potenciais vendedores somente poderão anunciar produtos ou serviços que possam vender e que tenham em estoque, estabelecendo diretamente os termos do anúncio e todas as suas características (como título, descrição e imagem dos bens, preço, categoria, quantidade, condições de venda, forma e prazo de entrega, além da forma de pagamento);</li>
  <li>3. Para utilizar os serviços do CDL Shopping o Usuário deve aceitar, expressamente, a Política de Privacidade e Confidencialidade da Informação, que contém informações claras e completas sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos Usuários e visitantes do CDL Shopping. O Usuário deverá efetuar um cadastro único, criando um usuário e senha que são pessoais e intransferíveis. O CDL Shopping não se responsabiliza pelo uso inadequado e divulgação destes dados para terceiros. O CDL Shopping, nem quaisquer de seus empregados ou prepostos solicitará, por qualquer meio, físico ou eletrônico, que seja informada sua senha;</li>
  <li>4. O CDL Shopping, em razão de violação à legislação em vigor ou aos Termos e condições gerais de uso do CDL Shopping, conforme a situação, poderá, sem prejuízo de outras medidas, recusar qualquer solicitação de cadastro, advertir, suspender, temporária ou definitivamente, a conta de um Usuário, seus anúncios.</li>
  <li>5. Não é permitido anunciar produtos expressamente proibidos pela legislação vigente ou pelos Termos e condições gerais de uso do site, que não possuam a devida autorização específica de órgãos reguladores competentes, ou que violem direitos de terceiros;</li>
  <li>6. O Usuário/potencial comprador, antes de decidir pela compra, deverá atentar-se às informações do Usuário vendedor, ao preço, às formas de pagamento, à disponibilidade, à forma e ao prazo de entrega dos produtos e serviços.</li>
  <li>7. O usuário comprador poderá exercer o direito de arrependimento de produtos adquiridos pelo App CDL Shopping. Para isso, basta ir a loja física cadastrada com até 7 (sete) dias do recebimento do produto. Essa opção ficará disponível em cada negociação realizada, na lista de compras da conta do usuário.</li>
  <li>8. É vedado aos usuários anunciar à venda ou comprar produtos que sejam proibidos ou violem a legislação vigente, bem como sejam considerados produtos proibidos pelo site.</li>
</ul>

<h2>Termos e condições gerais de uso do site</h2>

<p>
  Estes Termos e condições gerais aplicam-se ao uso dos serviços oferecidos pela REJ SOLUÇÕES TECNOLÓGICAS LTDA, empresa devidamente inscrita no CNPJ/MF sob o n° 17.792.501/0001-50, situada na Rua João Florêncio de Queiroz, 90, Capim Macio Natal/RN.
</p>

<p>
  Qualquer pessoa, doravante nominada Usuário, que pretenda utilizar os serviços do CDL Shopping deverá aceitar os Termos e condições gerais e todas as demais políticas e princípios que o regem.
</p>

<p>
  A aceitação destes Termos e condições gerais é absolutamente indispensável à utilização do App CDL Shopping e serviços prestados pelo CDL Shopping.
</p>

<p>
  O Usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas nos Termos e condições gerais e nas Políticas de privacidade, assim como nos demais documentos a eles incorporados por referência, antes de seu cadastro como Usuário do CDL Shopping.
</p>


<h2>01 - Objeto</h2>

<p>
  Os serviços objeto dos presentes Termos e condições gerais consistem em (i) ofertar e hospedar espaços no App CDL Shopping para que os Usuários anunciem à venda seus próprios produtos e/ou serviços e (ii) viabilizar o contato direto entre Usuários vendedores e Usuários interessados em adquirir os produtos e serviços anunciados, por meio da divulgação dos dados de contato de uma parte à outra. O CDL Shopping, portanto, possibilita aos Usuários se contatarem e negociarem entre si diretamente, sem qualquer intervenção do CDL Shopping, na negociação ou na concretização dos negócios. Desta forma, ressalta-se que o CDL Shopping não fornece quaisquer produtos ou serviços anunciados pelos Usuários nos Sites.
</p>

<h2>02 - Capacidade para cadastrar-se</h2>

<p>
  Os serviços do CDL Shopping estão disponíveis apenas para as pessoas físicas ou jurídicas que tenham capacidade legal para contratá-los.
</p>

<p>
  É proibido o cadastro de Usuários que não tenham capacidade civil (com relação a pessoas físicas) ou não sejam representantes legais (com relação a pessoas jurídicas), bem como de Usuários que tenham sido suspensos do CDL Shopping, temporária ou definitivamente, sem prejuízo da aplicação das sanções legais previstas no Código Civil Brasileiro, notadamente, art. 166, I; 171, I e 180.
</p>

<h2>03 - Cadastro</h2>

<p>
  Apenas será confirmado o cadastramento do Usuário que preencher todos os campos obrigatórios do cadastro, com informações exatas, precisas e verdadeiras. O Usuário declara e assume o compromisso de atualizar os dados inseridos em seu cadastro (“Dados Pessoais”) sempre que for necessário.
</p>

<p>
  Ao se cadastrar no CDL Shopping, o Usuário poderá utilizar todos os serviços disponibilizados, declarando, para tanto, ter lido, compreendido e aceitado os respectivos Termos e Condições de uso de cada um destes serviços que passam a fazer parte integrante destes Termos e condições gerais quando concluído o cadastro.
</p>

<p>
  O Usuário acessará sua conta através de e-mail (login) e senha e compromete-se a não informar a terceiros esses dados, responsabilizando-se integralmente pelo uso que deles seja feito.
</p>

<p>
  O CDL Shopping não se responsabiliza pela correção dos Dados Pessoais inseridos por seus Usuários. Os Usuários garantem e respondem, em qualquer caso, civil e criminalmente pela veracidade, exatidão e autenticidade, dos Dados Pessoais cadastrados.
</p>


<p>
  O email que o Usuário utiliza no CDL Shopping não poderá guardar semelhança com o nome CDL Shopping, suas marcas e nomes de domínio ou outro bem de propriedade intelectual, tampouco poderá ser utilizado qualquer apelido que insinue ou sugira que os produtos/serviços anunciados pertencem ou tenham qualquer relação com o CDL Shopping. Também serão excluídos apelidos considerados ofensivos, bem como os que contenham Dados Pessoais do Usuário ou alguma URL ou endereço eletrônico.
</p>

<p>
  O CDL Shopping se reserva o direito de recusar qualquer solicitação de cadastro e de suspender um cadastro previamente aceito, que esteja em desacordo com as políticas e regras dos presentes Termos e condições gerais.
</p>


<p>
  O CDL Shopping poderá, a seu exclusivo critério, realizar as buscas que julgar necessárias para apurar dados incorretos ou inverídicos bem como solicitar dados adicionais e documentos que estime serem pertinentes a fim de conferir os Dados Pessoais informados.
</p>


<p>
  Caso o CDL Shopping decida checar a veracidade dos dados cadastrais de um Usuário e se constate haver entre eles dados incorretos ou inverídicos, ou ainda caso o Usuários se furte ou se negue a enviar os documentos requeridos, o CDL Shopping poderá suspender temporariamente ou definitivamente a conta, sem prejuízo de outras medidas que entender necessárias e oportunas.
</p>


<p>
  Havendo a aplicação de quaisquer das sanções acima referidas, automaticamente serão cancelados os anúncios do respectivo Usuário, não lhe assistindo, por essa razão, qualquer indenização ou ressarcimento.
</p>

<p>
  O Usuário compromete-se a notificar o CDL Shopping imediatamente, e por meio seguro, a respeito de qualquer uso não autorizado de sua conta, bem como seu acesso não autorizado por terceiros. O Usuário será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso só será possível mediante a inclusão da senha, que deverá ser de conhecimento e propriedade exclusiva do Usuário.
</p>

<p>
  Em nenhuma hipótese será permitida a cessão, venda, aluguel ou outra forma de transferência da conta. Também não se permitirá a manutenção de mais de um cadastro por uma mesma pessoa, ou ainda a criação de novos cadastros por pessoas cujos cadastros originais tenham sido suspensos temporária ou definitivamente por infrações às políticas do CDL Shopping.
</p>

<h2>04 - Modificações dos Termos e condições gerais</h2>

<p>
  O CDL Shopping poderá alterar, a qualquer tempo, estes Termos e condições gerais, visando seu aprimoramento e melhoria dos serviços prestados. Os novos Termos e condições gerais entrarão em vigor 10 (dez) dias após sua publicação nos Sites. No prazo de 5 (cinco) dias contados a partir da publicação da nova versão, o Usuário deverá comunicar-se por e-mail caso não concorde com os termos alterados. Nesse caso, o vínculo contratual deixará de existir, desde que não haja contas ou dívidas em aberto. Não havendo manifestação no prazo estipulado, entender-se-á que o Usuário aceitou os novos Termos e condições gerais de uso e o contrato continuará vinculando as partes.
</p>

<p>
  As alterações não vigorarão em relação às negociações e anúncios já iniciados antes de sua publicação, permanecendo, nestes casos, vigente a redação anterior.
</p>

<h2>05 - Produtos anunciados</h2>

<h3>5.1 Anúncios/ofertas</h3>

<p>
  O Usuário poderá anunciar a venda de produtos ou serviços em suas respectivas categorias e subcategorias. Os anúncios podem conter gráficos, textos, descrições, fotos, vídeos e outras informações relevantes do produto ou serviço oferecido, sempre que tal prática não violar nenhum dispositivo previsto em lei, neste contrato, nas demais políticas do CDL Shopping. O produto ou serviço oferecido pelo Usuário vendedor deve ser descrito com clareza, contendo todas as características relevantes. Presumir-se-á que, mediante a inclusão do anúncio no CDL Shopping, o Usuário manifesta a intenção e declara possuir o direito de vender o produto ou oferecer o serviço, além de dispor do produto para entrega imediata. Os anúncios devem conter de forma destacada, caso necessário, a descrição de todos os tributos incidentes sobre a transação em estrita observância à legislação tributária aplicável.
</p>

<p>
  O Usuário declara também que, ao publicar um anúncio possui em estoque produtos em quantidade suficiente para cumprimento de sua oferta.
</p>

<p>
  O CDL Shopping poderá remover aqueles anúncios cujo preço final não esteja de acordo com os Termos e condições gerais de uso e suas políticas, não seja suficientemente claro, ou que permita algum tipo de dúvida ou variação sobre o preço, para evitar qualquer mal entendido ou indução em erro quanto ao preço final do produto.
</p>

<p>
  O usuário deve inserir a quantidade de produtos que deseja vender e o preço por unidade. Se possuir várias unidades de um mesmo produto que não quer ou não possa vender separadamente, ou seja, um conjunto, o usuário vendedor deve inserir o preço do conjunto, estando ciente de que a tarifa de venda será cobrada pelo valor do conjunto anunciado, ainda que o usuário decida vender, posteriormente à publicação do anúncio, uma ou mais unidades, de forma isolada.
</p>


<p>
  Os produtos anunciados na categoria Carros, Motos e Outros precisam apresentar o preço integral, incluindo eventuais dívidas e ônus suplementares com os quais o comprador precisará arcar para gozar livremente do bem.
Tendo em vista que o usuário comprador recebe os dados de contato do Usuário anunciante (e vice-versa) após manifestar a intenção na compra do produto anunciado, não é permitido inserir ou manter no próprio anúncio quaisquer dados pessoais para contato, tais como, e sem se limitar, a números de telefones, endereços de e-mails, ou páginas de internet que contenham os dados mencionados anteriormente, salvo o estipulado especificamente para as categorias: Carros, Motos e Outros, além da categoria de Imóveis e Serviços.

</p>

<p>
  Não é permitido fazer publicidade de outros meios de pagamentos que não sejam expressamente disponibilizados nos Sites. Caso o Usuário anunciante infrinja o disposto nesta cláusula, o CDL Shopping poderá editar o anúncio ou solicitar ao Usuário que o faça, ou remover o respectivo anúncio, não sendo, nesta caso, estornada qualquer quantia paga ou devida relativa ao anúncio suprimido.
</p>


<h2>5.1 Inclusão de imagens, fotografias e vídeos</h2>

<p>
  O usuário pode incluir imagens, fotografias e vídeos do produto oferecido sempre que estas correspondam exatamente ao produto anunciado, com exceção aos serviços e bens intangíveis.
O CDL Shopping poderá retirar dos anúncios que contenham imagens, fotografias ou vídeos que não estejam de acordo com o Termos e condições gerais de uso e demais políticas de utilização.
</p>

<h2>5.2 Produtos Proibidos</h2>

<p>
Poderão ser anunciados/ofertados aqueles produtos ou serviços cuja venda não esteja expressamente proibida pelos Termos e condições gerais, demais políticas do CDL Shopping, ou pela lei vigente.
</p>

<p>
  As políticas concernentes a produtos cujo anúncio é expressamente proibido no CDL Shopping encontram-se anexas a este documento.
</p>


<h2>06 - Privacidade da Informação</h2>

<p>
  Toda informação ou Dado Pessoal do Usuário é armazenado em servidores ou meios magnéticos de alta segurança. Salvo com relação às informações que são publicadas nos Sites, o CDL Shopping adotará todas as medidas possíveis para manter a confidencialidade e a segurança das informações sigilosas, porém não se responsabilizará por eventuais prejuízos que sejam decorrentes da divulgação de tais informações por parte de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de Usuários.
</p>


<p>
  O Usuário expressamente autoriza que suas informações e dados pessoais sejam compartilhados pelo CDL Shopping com as demais empresas integrantes do grupo econômico, parceiros comerciais, membros do Programa de Proteção à Propriedade Intelectual, autoridades e pessoas físicas ou jurídicas que aleguem ter sido lesadas por Usuários.
Em caso de dúvidas sobre a proteção a Dados Pessoais ou para obter mais informações sobre Dados Pessoais e os casos nos quais poderá ser quebrado o sigilo de que trata esta cláusula, por favor, consultar a página de Privacidade e Confidencialidade.

</p>

<h2>07 - Obrigações dos Usuários</h2>

<h3>7.1 Obrigações do Usuário comprador.</h3>

<p>
  Os usuários interessados em comprar produtos ou contratar serviços anunciados por lojistas no CDL Shopping devem manifestar seu interesse durante o período de vigência estipulado no anúncio. Os anúncios tem duração correspondente ao tipo de anúncio e categoria escolhidos pelo Usuário vendedor encerrando-se quando expirado o respectivo prazo de duração ou quando acaba a quantidade do produto anunciado. O Usuário comprador, após manifestar interesse na compra de um item anunciado por meio das ferramentas do APP, obriga-se a contatar o Usuário vendedor e concretizar a transação, salvo se a negociação for proibida por lei ou por estes Termos e condições gerais de uso e anexos ou na hipótese de o Usuário vendedor ou comprador desistirem do negócio de comum acordo.
</p>

<p>
  Ao manifestar o interesse em algum produto, o Usuário comprador obriga-se a atender às condições de venda descritas no anúncio.
</p>

<p>
  As ofertas só terão validade se realizadas no CDL Shopping com seguinte temos.
</p>

<p>
  <strong>Tributos:</strong> O CDL Shopping não se responsabiliza pelas obrigações tributárias que recaiam sobre as atividades dos Usuários dos Sites. Assim como estabelece a legislação pertinente em vigor, o Usuário comprador deverá exigir nota fiscal do Usuário vendedor em suas negociações, salvo se o Usuário vendedor estiver realizando uma venda eventual e não se enquadre no conceito legal de comerciante/empresário quanto aos bens postos em negociação.
</p>

<h3>7.2. Obrigações do Usuário vendedor</h3>

<p>
  O Usuário vendedor deve ter capacidade legal para vender o produto ou prestar o serviço anunciado. O Usuário vendedor obriga-se a entrar em contato com o Usuário comprador para efetivar a transação sempre que tenha recebido uma manifestação de interesse na compra do item anunciado. Apenas nos seguintes casos excepcionais, o Usuário vendedor poderá não efetivar a venda: se não houve acordo com o Usuário comprador sobre a forma de pagamento ou prazo de entrega; se não foi possível verificar a verdadeira identidade ou as informações do Usuário comprador; ou se houve evidente erro de digitação ao cadastrar preço ou quantidade do produto anunciado.
</p>

<p>
  O Usuário vendedor deve, em cumprimento à legislação brasileira vigente, além de demonstrar informações claras e ostensivas a respeito de quaisquer restrições à aquisição do produto ou serviço, apontar sempre em seus anúncios as características essenciais do produto ou do serviço, incluídos os riscos à saúde e à segurança dos consumidores. Deve ser igualmente apontado pelo Usuário vendedor no anúncio quaisquer despesas adicionais que devam ser pagas pelo Usuário comprador para aquisição do produto ou serviço, tais como despesas de entrega ou seguros. Também deverão ser apontados por todos os Usuários vendedores enquadrados na definição legal de fornecedor, os meios adequados para que os Usuários compradores exerçam seus direitos de arrependimento em relação aos produtos oferecidos em seus anúncios.
</p>


<p>
  O CDL Shopping se reserva o direito de requerer, de acordo com os critérios que estime pertinentes, que determinados produtos ou serviços, bem como Usuários vendedores somente anunciem seus bens e serviços nos Sites mediante a utilização dos Serviços de gerenciamento de pagamento do PAGAR.ME e/ou outras ferramentas disponibilizadas pelo CDL Shopping para cobrança do bem vendido e das tarifas pela utilização dos serviços, importando eventualmente no pagamento de tarifas aplicáveis pela utilização destes.
</p>

<p>
  Em virtude de o CDL Shopping não figurar como parte nas negociações de compra e venda de serviços e produtos que se realizam entre os Usuários, a responsabilidade por todas as obrigações decorrentes, sejam fiscais, trabalhistas, consumeristas ou de qualquer outra natureza, será exclusivamente do Usuário vendedor. Assim, o Usuário vendedor declara e reconhece que na hipótese de o CDL Shopping ou qualquer empresa do grupo vir a ser demandada judicialmente ou tenha contra ela uma reclamação dos órgãos de proteção ao consumidor, os valores relativos às condenações, acordos, despesas processuais e honorários advocatícios dispendidos pela empresa serão de responsabilidade do Usuário vendedor que deu causa, autorizando, ainda, a retirada dos respectivos valores de sua conta da PAGAR.ME. Da mesma forma, o Usuário vendedor reconhece ser responsável se, em decorrência de seus atos ou omissões.
</p>


<p>
  O Usuário vendedor deverá ter em mente que, na medida em que atue como um fornecedor de produtos e/ou serviços de forma continua ou eventual, sua oferta o vincula, nos termos do artigo 30 do Código de Defesa do Consumidor e do artigo 429 do Código Civil, cujo cumprimento pode ser exigido judicialmente pelo Usuário comprador.
</p>


<p>
  Por razões de segurança, a conta do Usuário poderá ser suspensa, a critério do CDL Shopping, caso este suspeite de qualquer ilegitimidade, fraude ou qualquer outro ato contrário às disposições dos presentes Termos e condições gerais de uso ou ainda até a apuração e verificação de (i) questões relativas à idoneidade do Usuário; (ii) legalidade das negociações realizadas; (iii) reclamações pendentes;
</p>

<p>
  <strong>Tributos:</strong> o CDL Shopping não se responsabiliza pelas obrigações de natureza tributária que incidam sobre os negócios realizados entre Usuário comprador e Usuário vendedor. Assim, o Usuário vendedor que atue de forma contínua, nos termos da lei em vigor, responsabilizar-se-á pela integralidade das obrigações oriundas de suas atividades, notadamente pelos tributos incidentes.
</p>

<p>
  Na hipótese de o usuário vendedor receber um pedido de devolução ou manifestação de direito de arrependimento no prazo de 7 dias, a contar da data de r o respectivo pedido de devolução e arcar com todos os custos envolvidos para tanto, conforme disposto na Legislação de Defesa do Consumidor e nestes Termos e condições.  recebimento do produto pelo usuário comprador, o usuário vendedor deverá aceita
</p>


<h2>08 - Práticas vedadas</h2>

<p>
  Os Usuários não poderão, entre outras atitudes previstas nestes Termos e condições gerais e seus anexos: a) manipular os preços dos produtos anunciados; b) interferir nas negociações entre outros Usuários;  d)divulgar dados pessoais de contato por qualquer meio, em qualquer espaço do anúncio, antes de manifestada a intenção na compra do item anunciado, salvo o estipulado especificamente para a categoria Carros, Motos e Outros Veículos, Serviços e Imóveis; e) anunciar produtos proibidos pelas políticas do CDL Shopping e pela legislação; f) agredir, caluniar, injuriar ou difamar outros Usuários; g)adicionar em seus anúncios acréscimos de preço caso o comprador opte por realizar o pagamento pelo PAGAR.ME; h) fazer mais de um anúncio para o mesmo produto.
</p>

<p>
  Estes tipos de comportamento poderão ser sancionados com o cancelamento do anúncio, ou com a suspensão da sua conta como Usuário do CDL Shopping, sem prejuízo das ações legais que possam ocorrer pela configuração de delitos ou contravenções ou os prejuízos civis que possam causar aos Usuários compradores, ao CDL Shopping ou terceiros.
</p>


<h2>09 - Violação no sistema ou da base de dados</h2>

<p>
  Não é permitida a utilização de nenhum dispositivo, software ou outro recurso que venha a interferir nas atividades e operações do CDL Shopping, bem como nos anúncios, descrições, contas ou seus bancos de dados. Qualquer intromissão, tentativa ou atividade que viole ou contrarie as leis de direito de propriedade intelectual e/ou as proibições estipuladas nestes Termos e condições gerais de uso, tornarão o responsável passível das ações legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.
</p>

<h2>10 - Sanções</h2>
<p>
  Sem prejuízo de outras medidas cabíveis, o CDL Shopping poderá advertir, suspender, temporária ou definitivamente, a conta de um Usuário, cancelar os seus anúncios a qualquer tempo, iniciando as ações legais cabíveis e/ou suspendendo a prestação de seus serviços se: a) o Usuário não cumprir qualquer dispositivo destes Termos e condições gerais de uso e demais políticas do CDL Shopping; b) se descumprir com seus deveres de Usuário; c) se praticar atos fraudulentos ou dolosos; d) se não puder ser verificada a identidade do Usuário ou se qualquer informação fornecida por ele estiver incorreta; e) se o CDL Shopping entender que os anúncios ou qualquer atitude do Usuário tenham causado algum dano a terceiros ou ao próprio CDL Shopping ou tenham a potencialidade de assim o fazer. Nos casos suspensão da conta do usuário, todos os anúncios ativos e/ou ofertas realizadas serão automaticamente cancelados e a informação de que Usuário não pertence mais à comunidade será incluída ao lado do nome de Usuário.
O CDL Shopping reserva-se o direito de, a qualquer momento e a seu exclusivo critério, solicitar o envio de documentação pessoal e/ou exigir que um Usuário torne-se ‘Certificado’.
</p>


<h2>11 - Responsabilidades</h2>

<p>
  O CDL Shopping se responsabiliza por eventuais danos causados aos seus Usuários por defeitos ou vícios relativos exclusivamente à prestação do seu serviço de hospedagem e veiculação de anúncios no App CDL Shopping, desde que o CDL Shopping tenha dado causa aos referidos defeitos ou vícios.
</p>

<p>
  O CDL Shopping não se responsabiliza por vícios ou defeitos técnicos e/ou operacionais oriundos do sistema do Usuário ou de terceiros.
</p>


<p>
  O CDL Shopping não é o proprietário dos produtos ou prestador dos serviços anunciados pelos Usuários no APP CDL Shopping, não guarda a posse desses itens e não realiza as ofertas de venda, tampouco intervém na entrega dos produtos.
</p>


<p>
  O CDL Shopping não se responsabiliza, por conseguinte, pela existência, quantidade, qualidade, estado, integridade ou legitimidade dos produtos oferecidos, adquiridos ou alienados pelos Usuários, assim como pela capacidade para contratar dos Usuários ou pela veracidade dos dados pessoais por eles inseridos em seus cadastros. O CDL Shopping não outorga garantia por vícios ocultos ou aparentes nas negociações entre os Usuários. Cada Usuário conhece e aceita ser o único responsável pelos produtos que anuncia ou pelas ofertas que realiza.
</p>


<p>
  O CDL Shopping não será responsável pelo efetivo cumprimento das obrigações assumidas pelos Usuários. O Usuário reconhece e aceita ao realizar negociações com outros Usuários ou terceiros o faz por sua conta e risco, reconhecendo o CDL Shopping como mero fornecedor de serviços de disponibilização de espaço virtual para anúncios de produtos e serviços ofertados por terceiros. Em nenhum caso o CDL Shopping será responsável pelo lucro cessante ou por qualquer outro dano e/ou prejuízo que possa sofrer devido às negociações realizadas ou não realizadas por meio dos sites decorrentes da conduta de outros usuários.
</p>


<p>
  O CDL Shopping recomenda que toda negociação seja realizada com cautela e bom senso. O Usuário deverá sopesar os riscos da negociação, levando em consideração que pode estar, eventualmente, lidando com pessoas valendo-se de identidade falsa.
</p>


<p>
  Nos casos em que um ou mais Usuários ou algum terceiro inicie qualquer tipo de reclamação ou ação legal contra outro ou mais Usuários, todos e cada um dos Usuários envolvidos nas reclamações ou ações eximem de toda responsabilidade o CDL Shopping e os seus diretores, gerentes, empregados, agentes, operários, representantes e procuradores, observado, ainda, o estipulado na cláusula 7. Os  Usuários têm um prazo de 90 dias, contados a partir da compra, para iniciar uma reclamação contra outro(s) Usuário(s). Uma vez vencido esse prazo, não será possível iniciar uma reclamação através do site do CDL Shopping.
</p>

<h2>12 - Alcance dos serviços</h2>

<p>
  Estes Termos e condições gerais de uso não geram nenhum contrato de sociedade, mandato, franquia ou relação de trabalho entre CDL Shopping e o Usuário. O Usuário manifesta ciência de que o CDL Shopping não é parte de nenhuma negociação realizada entre Usuários, nem possui controle algum sobre a existência, qualidade, segurança ou legalidade dos produtos ou serviços anunciados pelos Usuários, sobre a veracidade ou exatidão dos anúncios elaborados pelos usuários e sobre a capacidade dos Usuários para negociar. O CDL Shopping não pode assegurar o êxito de qualquer negociação realizada entre Usuários, tampouco verificar a identidade ou dos Dados Pessoais dos usuários.
</p>

<p>
  O CDL Shopping não garante a veracidade da publicação de terceiros que apareça em seu site e não será responsável pela correspondência ou contratos que o Usuário realize com terceiros.
</p>


<h2>13 - Falhas no sistema</h2>

<p>
  O CDL Shopping não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo Usuário em razão de falhas na internet, no sistema ou no servidor utilizado pelo usuário, decorrentes de condutas de terceiros, caso fortuito ou força maior. O CDL Shopping também não será responsável por qualquer vírus que possa atacar o equipamento do usuário em decorrência do acesso, utilização ou navegação na internet ou como consequência da transferência de dados, arquivos, imagens, textos, vídeos ou áudio.
</p>

<h2>14 - Tarifas e faturamento</h2>
<p>
  O cadastro no CDL Shopping é gratuito.Todavia, será cobrada uma Tarifa de Venda que somente será paga ao CDL Shopping quando a negociação se concretizar.
</p>


<p>
  O usuário concorda em pagar ao CDL Shopping os valores correspondentes a qualquer serviço prestado pelo CDL Shopping em que haja uma tarifa estabelecida. O CDL Shopping se reserva o direito de modificar, aumentar ou excluir tarifas vigentes a qualquer momento, observado o estipulado na cláusula 4 ou durante promoções e outras formas transitórias de alteração dos preços praticados. Tais alterações não vigorarão em relação às negociações e anúncios já iniciados na data em que tais alterações sejam publicadas. Para estes, os Termos e condições gerais de uso valerão com a redação anterior.
</p>

<p>
  O CDL Shopping se reserva o direito de tomar as medidas judiciais e extrajudiciais pertinentes para receber os valores devidos.
</p>


<p>
  O Usuário declara e garante que é titular, possui a devida autorização do(s) titular(es) de direito(s) de propriedade intelectual ou que, de outra forma, pode anunciar no CDL Shopping, oferecer produtos e/ou serviços anunciados ou declarar-se loja oficial de determinada marca, sendo o único responsável pelo conteúdo das suas publicações.
</p>


<p>
  O Usuário assume total responsabilidade por todos os prejuízos, diretos e indiretos, inclusive indenizações, lucros cessantes, honorários advocatícios e demais encargos judiciais e extrajudiciais que o CDL Shopping seja obrigado a incorrer em virtude de ato ou omissão do Usuário.
</p>


<p>
  Se o CDL Shopping receber alguma reclamação ou questionamento de terceiros (por exemplo, dos titulares de marca), o CDL Shopping poderá remover o seu anúncio e aplicar as sanções cabíveis.
</p>

<h2>16 - Indenização</h2>

<p>
  O usuário indenizará o CDL Shopping, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por qualquer demanda promovida por outros Usuários ou terceiros decorrentes de suas atividades no APP ou por seu descumprimento dos Termos e condições gerais de uso e demais políticas do CDL Shopping, ou pela violação de qualquer lei ou direitos de terceiros, incluindo honorários de advogados.
</p>

<h2>17 – Da comercialização do uso ou da aplicação do programa </h2>


<p>
  Fica vedada a comercialização do uso ou da aplicação do PROGRAMA, por parte da CONTRATANTE e/ou seus prepostos.
</p>

<p>
  A CONTRATANTE não permitirá a terceiros não autorizados pela REJ SOLUÇÕES o uso, a aplicação, a exploração, a divulgação ou a reprodução total ou parcial do PROGRAMA, sob qualquer forma ou modo.
</p>

<p>
  A CONTRATADA bonificará o CONTRATANTE, com dois meses ou 60 dias, grátis como cortesia para uso do sistema para que o mesmo possa utilizar e aperfeiçoar o uso do sistema sem nenhum custo na fase de instalação.
</p>

<p>
  Será de responsabilidade da CONTRATANTE todos e quaisquer custos decorrentes das operações de venda realizadas com Cartões de Crédito, realizadas através do PROGRAMA/SOFTWARE, ficando a REJ SOLUÇÕES isenta de quaisquer custos e responsabilidade decorrentes de uso dessa forma de venda e ainda mal uso eventual, a CONTRATANTE se limita a cessão de uso do software de venda, que não controla nenhuma informação de dados ou uso de cartões de crédito.
</p>


<h2>18 – Dos serviços de suporte e manutenção</h2>

<p>
  Os serviços de suporte técnico/operacional a ser prestado pela REJ SOLUÇÕES compreendem o apoio à solução de dificuldades relacionadas à instalação do PROGRAMA. Estes serviços não incluem o treinamento de usuários, a preparação ou o fornecimento de dados, o apoio à realização de estudos e trabalhos de campo, nem a prestação de suporte sobre outros produtos da REJ SOLUÇÕES ou de terceiros.
</p>

<p>
  Os serviços de suporte técnico/operacional serão prestados pela equipe da REJ SOLUÇÕES através de correio eletrônico (suporte@cdlshoppingnatal.com.br ou site: www.cdlshoppingnatal.com.br).
</p>


<p>
  A REJ SOLUÇÕES informará à CONTRATANTE, através do Responsável Técnico, os dados para contato com a equipe de suporte da REJ SOLUÇÕES e os horários de atendimento.
</p>


<p>
  Os serviços de suporte não incluem o atendimento fora das instalações da REJ SOLUÇÕES, já que o suporte é totalmente remoto.)
</p>

<p>
  Sempre que solicitado pela CONTRATANTE a REJ SOLUÇÕES manterá em sigilo todos os dados, documentos e informações em geral que venham a ser entregues à REJ SOLUÇÕES pela CONTRATANTE para a consecução do objeto do CONTRATO.
</p>

<p>
   A REJ SOLUÇÕES colocará à disposição da CONTRATANTE, gratuitamente, qualquer atualização do PROGRAMA que venha a ser desenvolvida durante a vigência deste CONTRATO.
</p>


<p>
  As atualizações poderão ser fornecidas através de novas versões do PROGRAMA ou de sua documentação disponibilizadas em um endereço da Internet indicado pela REJ SOLUÇÕES, para serem baixadas pela CONTRATANTE através de procedimento de download. A REJ SOLUÇÕES fornecerá ao Responsável Técnico da CONTRATANTE as instruções para este procedimento.
</p>


<p>
   Se, durante a vigência desta licença, a CONTRATANTE deixar de efetuar o download de versões do PROGRAMA ou de sua documentação disponibilizadas pela REJ SOLUÇÕES, este ficará desobrigado de fornecê-las posteriormente.
</p>


<p>
  A REJ SOLUÇÕES solucionará no menor prazo possível eventuais erros detectados e informados pela CONTRATANTE que acarretem anormalidades relevantes no funcionamento do PROGRAMA, bem como fornecerá a correspondente versão corrigida à CONTRATANTE.
</p>


<h2>19 – Do preço e das condições de documento de cobrança e pagamento </h2>

<p>
  A CONTRATANTE pagará à REJ SOLUÇÕES, pela Licença de Uso Mensal do PROGRAMA, a quantia de R$ 60,00 (sessenta reais), para associados da CDL Natal.
</p>

<p>
Licença Mensal:
</p>

<table>
  <tr>
    <td>Versão</td>
    <td>Valor unitário Mensal</td>
  </tr>
  <tr>
    <td>CDL Shopping Natal</td>
    <td>60,00</td>
  </tr>
</table>

<p>
  A CDL Natal emitirá documento de cobrança para a realização do pagamento, pela CONTRATANTE, da Licença de Uso anual no valor estipulado com prazo de vencimento definido pela CDL Natal.
</p>

<p>
  Para que a REJ SOLUÇÕES possa cumprir com as suas obrigações, dentro dos prazos estabelecidos, relativas ao pagamento dos documentos de cobrança emitidos por conta deste CONTRATO, deverão ser observadas as seguintes disposições:
</p>

<p>
  A REJ SOLUÇÕES emitirá e apresentará à CONTRATANTE os documentos de cobrança.
</p>

<p>
  Os documentos de cobrança deverão indicar o número e o objeto deste CONTRATO e a ele unicamente referir-se, não se admitindo, portanto, documentos que façam referência a outros instrumentos contratuais.
</p>

<p>
  O não pagamento do valor devido à REJ SOLUÇÕES nas respectivas datas de vencimento sujeitará a CONTRATANTE, de forma cumulativa, independentemente de aviso ou interpelação judicial, às seguintes sanções:
</p>


<p>
  a) Atualização pro rata die do valor não pago pela variação do índice de Preços ao Consumidor Amplo (IPCA), desde que positiva, ou outro índice oficial que vier a substituí-lo, a partir do respectivo vencimento até a data do seu efetivo e integral pagamento;
</p>

<p>
  b) aplicação de multa de 2% (dois por cento) e juros de mora de 1% (um por cento) ao mês sobre o valor atualizado, a partir do vencimento até a data do seu efetivo e integral pagamento.
</p>


<h2>20 – Das Taxas  sobre a venda pelo Marketing Place CDL Shopping</h2>
<p>
  A REJ Soluções Tecnológicas LTDA fez uma parceria com a PAGAR.ME. A Pagar.me hoje está presente em alguns dos maiores e-commerces do país como BRF, Mobly, Eduk, Roge, Ingresse e faz parte do grupo Arpex, que está há mais de 15 anos focado em soluções de pagamento.
</p>


<h4>Cartão de crédito </h4>

<table>
  <tr>
    <td>Taxa de MDR à vista:</td>
    <td>4,49%</td>
  </tr>
  <tr>
    <td>Taxa de MDR parcelado em 2 a 6 vezes:</td>
    <td>4,79%</td>
  </tr>
  <tr>
    <td>Taxa de MDR parcelado em 7 a 12 vezes:</td>
    <td>5,09%</td>
  </tr>
  <tr>
    <td>Taxa de antecipação: </td>
    <td>3,0% ao mês</td>
  </tr>
</table>

<p>
  Cada transação via cartão de crédito tem um custo de R$0,50 (fixo de Gateway) + R$ 0,70 (antifraude integrado, que é da Clearsale).
</p>

<h4>Taxa de Transferência</h4>
R$ 3,67 por saque (isento para conta no Bradesco)
