<div class="box-center">
    <h4 class="title"><i class="fa fa-cube"></i>Produto</h4>
    <hr/>

    <div class="content">
      <ul class="upload-images">
        <li data-balloon="Clique para remover."
            data-balloon-pos="up"
            ng-repeat="image in product.images track by $index"
            ng-click="removeImage($index)">
          <!-- content -->
          <img src="{{ image.thumb }}" alt="" />
        </li>
        <li class="add" data-balloon="Adicionar nova imagem." data-balloon-pos="up" ng-click="addImage()"><i class="fa fa-file-image-o"></i> Upload</li>
      </lu>

      <label>Nome</label>
      <input class="full" type="text" ng-model="product.name">

      <label>Categoria</label>
      <select class="col-2" ng-model="product.category">
        <option ng-repeat="category in categorys" value="{{ category.name }}">{{ category.name }}</option>
      </select>

      <label>Quantidade</label>
      <input class="col-2" type="number" ng-model="product.quantity" ng-change="quantityChange()"/>


      <label>Preço atual</label>
      <input class="col-2" type="text" ng-model="product.price" currency-mask />

      <label>Preço antigo <span class="required">(opcional)
      </span></label>


      <p class="sub-label">Se o preço antigo for zero não irá aparecer nenhum
      valor no aplicativo.</p>
      <input class="col-2" type="text" ng-model="product.old_price" currency-mask />

      <label>Cores</label>
      <p class="sub-label">Cores disponíveis do produto.</p>

      <div class="max-pick-color">
        <div ng-repeat="color in product.colors" style="margin-bottom: 3px;">
          <select ng-model="color.name" ng-change="changeColor($index)">
            <option value="Amarelo">Amarelo</option>
            <option value="Areia">Areia</option>
            <option value="Azul">Azul</option>
            <option value="Azul Royal">Azul Royal</option>
            <option value="Berinjela">Berinjela</option>
            <option value="Bordô">Bordô</option>
            <option value="Branco">Branco</option>
            <option value="Café">Café</option>
            <option value="Camel">Camel</option>
            <option value="Caramelo">Caramelo</option>
            <option value="Carbono">Carbono</option>
            <option value="Carmim">Carmim</option>
            <option value="Cinza">Cinza</option>
            <option value="Coral">Coral</option>
            <option value="Creme">Creme</option>
            <option value="Dourado">Dourado</option>
            <option value="Laranja">Laranja</option>
            <option value="Lilás">Lilás</option>
            <option value="Magenta">Magenta</option>
            <option value="Marinho">Marinho</option>
            <option value="Marrom">Marrom</option>
            <option value="Menta">Menta</option>
            <option value="Mostarda">Mostarda</option>
            <option value="Nude">Nude</option>
            <option value="Pão">Pão</option>
            <option value="Paprica">Paprica</option>
            <option value="Pêssego">Pêssego</option>
            <option value="Petróleo">Petróleo</option>
            <option value="Prata">Prata</option>
            <option value="Preto">Preto</option>
            <option value="Roxo">Roxo</option>
            <option value="Telha">Telha</option>
            <option value="Turquesa">Turquesa</option>
            <option value="Verde">Verde</option>
            <option value="Verde Bandeira">Verde Bandeira</option>
            <option value="Verde Militar">Verde Militar</option>
            <option value="Vermelho">Vermelho</option>
          </select>
          <span class="color" style=" background-color: {{ color.code }};"></span>
          <i class="fa fa-trash" ng-click="removeColor($index)"></i>
        </div>

        <button class="secondary" ng-click="addColor()">Adicionar cor</button>
      </div>

      <label>Tamanhos</label>
      <p class="sub-label">Tamanhos disponíveis do produto.</p>

      <div class="max-pick-size">
        <div  ng-repeat="size in product.sizes track by $index" style="margin-bottom: 3px;">
          <select ng-model="size.name">
            <option value="PP">PP</option>
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
            <option value="GG">GG</option>
            <option value="XG">XG</option>
            <option value="XGG">XGG</option>
            <option value="XXG">XXG</option>
            <option value="EG">EG</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
          </select>
          <i class="fa fa-trash" ng-click="removeSize($index)"></i>
        </div>

        <button class="secondary" ng-click="addSize()">Adicionar tamanho</button>
      </div>


      <label>Descrição</label>
      <textarea  rows="8" cols="40" ng-model="product.description"></textarea>


      <max-button-send action="send()">Salvar dados</max-button-send>
      <a href="#/products"><button ng-show="isEdit" class="secondary">Cancelar alterações</button></a>


      <p class="message-error" ng-show="message">{{ message }}</p>

      <div class="box-delete" ng-show="remove">
        <h4>Deletar produto</h4>
        <p> Essa ação não pode ser desfeita, então é necessário ter
          certeza na hora da exclusão de um produto. <br/>
        <a href="" ng-click="delete()">Deletar produto</a>
        </p>
      </div>
    </div>
</div>

<!--  Modal confirmar dados
============================================================-->
<div class="modal-confirm-data" ng-show="confirmModal">
  <div class="show-view-container">
    <h3>Verifique os dados antes de prosseguir.</h3>
    <ng-include src="'./views/products/show.html'"></ng-include>
    <button class="primary" ng-click="confirmSave()">Confirmar</button>
    <button class="secondary" ng-click="closeModalconfirm()">Cancelar</button>
  </div>

</div>
