<div class="full-box">
  <h4 class="title"><i class="fa fa-cube"></i> Produtos </h4>
  <div class="go-right">
    <button class="primary" onclick="location.href = '#/products/new'">Novo produto</button>
    <div class="box-search">
      <i class="fa fa-search" ng-click="search()"></i>
      <input class="input-search" type="text" ng-model="query" ng-enter="search()" placeholder="Pesquisar produto"/>
    </div>
  </div>
  <hr/>

  <div class="side-menu-container">
    <div class="menu">
      <h5 class="title-label">Categorias</h5>
      <ul>
        <li ng-class="category.class" ng-repeat="category in categories track by $index"
            ng-click="byCategory($index)">
          {{ category.name }}
        </li>
      </ul>
    </div><!--
 --><div class="menu-content">
      <div class="term-search" ng-show="term">
        <p>
          Buscando por '{{ term }}'
          <i class="fa fa-times-circle" ng-click="resetProducts()"></i>
        </p>
      </div>

      <table class="table">
        <tr class="header">
          <td></td>
          <td>Nome</td>
          <td>Preço</td>
          <td>Quantidade</td>
          <td>Categoria</td>
          <td></td>
        </tr>
        <tr ng-repeat="item in products track by $index">
          <td>
            <img src="{{ item.images[0].thumb || 'images/produto.jpg'}}" alt="Produto tal" />
          </td>
          <td>{{ item.name }}</td>
          <td>R${{ item.price | money }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.categories[0] }}</td>
          <td>
            <button class="primary" ng-click="edit(item._id)"> Editar </button>
            <button class="primary-delete" ng-click="delete(item._id)">Excluir</button>
          </td>
        </tr>
      </table>
      <img class="no-products" src="images/product404.png" ng-show="products.length == 0">

      <ul class="pagination">
        <li ng-repeat="i in pages track by $index"><a ng-class="pageClass(i)" href="#/products?page={{ i }}">{{ i }}</a></li>
      </ul>

    </div>
  </div>


</div>
