<div class="show-view">
    <table>
      <tr>
        <td>Nome</td>
        <td>{{ product.name }}</td>
      </tr>
      <tr>
        <td>Categoria</td>
        <td>{{ product.category }}</td>
      </tr>
      <tr>
        <td>Quantidade</td>
        <td>{{ product.quantity }}</td>
      </tr>
      <tr>
        <td>Preço atual</td>
        <td>R${{ product.price | moneyFromPure }}</td>
      </tr>
      <tr>
        <td>Preço antigo</td>
        <td>R${{ product.old_price | moneyFromPure }}</td>
      </tr>
      <tr ng-show="product.colors.length > 0">
        <td>Cores</td>
        <td>
          {{ product.colors | joinNames }}
        </td>
      </tr>
      <tr ng-show="product.sizes.length > 0">
        <td>Tamanhos</td>
        <td>{{ product.sizes | joinNames }}</td>
      </tr>
      <tr>
        <td>Descrição</td>
        <td>{{ product.description }}</td>
      </tr>
    </table>
</div>
