<div class="banner-editor" id="banner-editor">

  <span id="scale-elements"><i class="fa fa-expand"></i></span>
  <span id="scaleX"><i class="fa fa-arrows-h"></i></span>
  <span id="scaleY"><i class="fa fa-arrows-v"></i></span>
  <span id="move"><i class="fa fa-arrows"></i></span>
  <span id="editor-text">
    <i class="fa fa-font" aria-hidden="true"></i>
    <select ng-model="textElement.style.fontFamily">
      <option value="'Andale Mono'">Andale Mono</option>
      <option value="Arial">Arial</option>
      <option value="'Arial Black'">Arial Black</option>
      <option value="'Comic Sans MS'">Comic Sans MS</option>
      <option value="'Courier New'">Courier New</option>
      <option value="Georgia">Georgia</option>
      <option value="Impact">Impact</option>
      <option value="'Times New Roman'">Times New Roman</option>
      <option value="'Trebuchet MS'">Trebuchet MS</option>
      <option value="Verdana">Verdana</option>
      <option value="Webdings">Webdings</option>
      <option value="'Adobe Minion Web'">Adobe Minion Web</option>
    </select>
    <i class="fa fa-text-height" aria-hidden="true"></i>
    <input type="text" ng-model="textElement.style.fontSize">
    <i class="fa fa-align-left" ng-class="textElement.style.textAlign == 'left' ? 'select' : ''" ng-click="setAlign('left')"></i>
    <i class="fa fa-align-center" ng-class="textElement.style.textAlign == 'center' ? 'select' : ''" ng-click="setAlign('center')"></i>
    <i class="fa fa-align-justify" ng-class="textElement.style.textAlign == 'justify' ? 'select' : ''" ng-click="setAlign('justify')"></i>
    <i class="fa fa-align-right" ng-class="textElement.style.textAlign == 'right' ? 'select' : ''" ng-click="setAlign('right')"></i>
    <div class="editor-color">
      <color-picker ng-model="textElement.style.color" color-picker-format="'rgb'"></color-picker>
    </div>

  </span>
</div>
<input id="file" type="file" style="display: none;" name="name" value="">
<div class="layers">
  <div class="tools">
    <select>
      <option value="Padrão">Padrão</option>
    </select>
    <span data-balloon="Adicionar imagem." ng-click="pickImage()"><i class="fa fa-file-image-o" ></i></span>
    <span data-balloon="Adicionar texto." ng-click="addText()"><i class="fa fa-font" ></i></span>
  </div>

  <ul>
    <li ng-repeat="el in layers">
      <div class="layer-name" ng-click="trigerElement($index)"><i class="fa fa-file-image-o" ></i> {{ el.name }}
        <i class="fa fa-trash" ng-click="remove($index)"></i>
      </div>
      <div class="attrs">
        X: <input type="text" ng-model="el.elm.style.left">
        Y: <input type="text" ng-model="el.elm.style.top">
        Z: <input type="text" ng-model="el.elm.style.zIndex">
        Largura: <input type="text" ng-model="el.elm.style.width">
        Altura: <input type="text" ng-model="el.elm.style.height">

      </div>
    </li>
  </ul>
</div>

<button ng-click="ganerate()">ganerate</button>
