<div class="max-two-search">
   <div class="two-tab-store">
     <label>Loja</label>
     <div class="field-query">
       <i class="fa fa-search"></i>
       <input type="text" class="input-query" ng-model="store_query">
       <span ng-click="storeSearch()"> pesquisar </span>
     </div>

     <div class="result-search">
       <p ng-show="!isStoreSearch && !store">Nenhuma loja selecionada</p>
       <ul ng-show="isStoreSearch">
         <li ng-repeat="s in store_results" ng-click="setStore($index)">
           <img src="{{ s.avatar.url }}"/>
           {{ s.name }}
         </li>
       </ul>
       <div ng-show="store" class="selected">
         <img src="{{ store.avatar.url }}"/>
         <h3>{{ store.name }}</h3>
       </div>
     </div>

     <label class="soft"><input type="checkbox" ng-model="checkbox_store"> Ação do banner levará para a tela da loja. </label>
   </div>

   <div class="two-tab-product">
     <label>Produto</label>
     <div class="field-query">
       <i class="fa fa-search"></i>
       <input type="text" class="input-query" ng-model="product_query">
       <span ng-click="productSearch()"> pesquisar </span>
     </div>
     <div class="result-search">
       <p ng-show="!isProductSearch && !product">Nenhuma produto selecionado</p>
       <ul ng-show="isProductSearch">
         <li ng-repeat="p in product_results" ng-click="setProduct($index)">
           <img src="{{  p.images[0] }}"/>
           {{ p.name }}
         </li>
       </ul>
       <div ng-show="product" class="selected">
         <img src="{{ product.images[0] }}"/>
         <h3>{{ product.name }}</h3>
       </div>
     </div>

   </div>
</div>
