<div class="box-center">
  <h4 class="title"><i class="fa fa-tags"></i> Categorias </h4>
  <hr/>
  <div class="content">
    <label>Nome da nova categoria</label>
   <input class="full" type="text" ng-model="name">
   <button class="primary" ng-hide="isSend == true" ng-click="create()">Criar </button>
   <button class="primary"  ng-show="isSend == true"><i class="fa fa-refresh fa-spin"></i> enviando ... </button>
  </div>
  <hr/>
  <div>

    <ul class="list-remove">
      <p ng-show="categories.length == 0">
        Sem categorias cadastradas.
      </p>
      <li ng-repeat="category in categories track by $index">
        {{ category.name }}
        <button ng-click="delete(category._id)" class="primary-delete">remover</button>
      </li>
    </ul>
  </div>
</div>
